.row {
	margin-right: -15px;margin-left: -15px;
}
.cell-xs1,.cell-md1,.cell-td1,.cell-tdl1,.cell-dd1,.cell-xs2,.cell-md2,.cell-td2,.cell-tdl2,.cell-dd2,.cell-xs3,.cell-md3,.cell-td3,.cell-tdl3,.cell-dd3,.cell-xs4,.cell-md4,.cell-td4,.cell-tdl4,.cell-dd4,.cell-xs5,.cell-md5,.cell-td5,.cell-tdl5,.cell-dd5,.cell-xs6,.cell-md6,.cell-td6,.cell-tdl6,.cell-dd6,.cell-xs7,.cell-md7,.cell-td7,.cell-tdl7,.cell-dd7,.cell-xs8,.cell-md8,.cell-td8,.cell-tdl8,.cell-dd8,.cell-xs9,.cell-md9,.cell-td9,.cell-tdl9,.cell-dd9,.cell-xs10,.cell-md10,.cell-td10,.cell-tdl10,.cell-dd10,.cell-xs11,.cell-md11,.cell-td11,.cell-tdl11,.cell-dd11,.cell-xs12,.cell-md12,.cell-td12.cell-tdl12,.cell-dd12 {
	position: relative;
	padding-right: 15px;padding-left: 15px;
}
.cell-xs1,.cell-xs2,.cell-xs3,.cell-xs4,.cell-xs5,.cell-xs6,.cell-xs7,.cell-xs8,.cell-xs9,.cell-xs10,.cell-xs11,.cell-xs12 {
	float: left;
}
.cell-xs12 {
	width: 100%;
}
.cell-xs11 {
	width: 91.66666667%;
}
.cell-xs10 {
	width: 83.33333333%;
}
.cell-xs9 {
	width: 75%;
}
.cell-xs8 {
	width: 66.66666667%;
}
.cell-xs7 {
	width: 58.33333333%;
}
.cell-xs6 {
	width: 50%;
}
.cell-xs5 {
	width: 41.66666667%;
}
.cell-xs4 {
	width: 33.33333333%;
}
.cell-xs3 {
	width: 25%;
}
.cell-xs2 {
	width: 16.66666667%;
}
.cell-xs1 {
	width: 8.33333333%;
}
.offset-xs12 {
	margin-left: 100%;
}
.offset-xs11 {
	margin-left: 91.66666667%;
}
.offset-xs10 {
	margin-left: 83.33333333%;
}
.offset-xs9 {
	margin-left: 75%;
}
.offset-xs8 {
	margin-left: 66.66666667%;
}
.offset-xs7 {
	margin-left: 53.33333333%;
}
.offset-xs6 {
	margin-left: 50%;
}
.offset-xs5 {
	margin-left: 41.66666667%;
}
.offset-xs4 {
	margin-left: 33.33333333%;
}
.offset-xs3 {
	margin-left: 25%;
}
.offset-xs2 {
	margin-left: 16.66666667%;
}
.offset-xs1 {
	margin-left: 8.33333333%;
}
.offset-xs0 {
	margin-left: 0;
}
.push-xs12 {
	left: 100%;
}
.push-xs11 {
	left: 91.66666667%;
}
.push-xs10 {
	left: 83.33333333%;
}
.push-xs9 {
	left: 75%;
}
.push-xs8 {
	left: 66.66666667%;
}
.push-xs7 {
	left: 53.33333333%;
}
.push-xs6 {
	left: 50%;
}
.push-xs5 {
	left: 41.66666667%;
}
.push-xs4 {
	left: 33.33333333%;
}
.push-xs3 {
	left: 25%;
}
.push-xs2 {
	left: 16.66666667%;
}
.push-xs1 {
	left: 8.33333333%;
}
.push-xs0 {
	left: auto;
}
.pull-xs12 {
	right: 100%;
}
.pull-xs11 {
	right: 91.66666667%;
}
.pull-xs10 {
	right: 83.33333333%;
}
.pull-xs9 {
	right: 75%;
}
.pull-xs8 {
	right: 66.66666667%;
}
.pull-xs7 {
	right: 53.33333333%;
}
.pull-xs6 {
	right: 50%;
}
.pull-xs5 {
	right: 41.66666667%;
}
.pull-xs4 {
	right: 33.33333333%;
}
.pull-xs3 {
	right: 25%;
}
.pull-xs2 {
	right: 16.66666667%;
}
.pull-xs1 {
	right: 8.33333333%;
}
.pull-xs0 {
	right: auto;
}

	/*	Mobile device	*/
@media only screen and (min-width: 420px) {
	.cell-md1,.cell-md2,.cell-md3,.cell-md4,.cell-md5,.cell-md6,.cell-md7,.cell-md8,.cell-md9,.cell-md10,.cell-md11,.cell-md12 {
		float: left;
	}
	.cell-md12 {
		width: 100%;
	}
	.cell-md11 {
		width: 91.66666667%;
	}
	.cell-md10 {
		width: 83.33333333%;
	}
	.cell-md9 {
		width: 75%;
	}
	.cell-md8 {
		width: 66.66666667%;
	}
	.cell-md7 {
		width: 58.33333333%;
	}
	.cell-md6 {
		width: 50%;
	}
	.cell-md5 {
		width: 41.66666667%;
	}
	.cell-md4 {
		width: 33.33333333%;
	}
	.cell-md3 {
		width: 25%;
	}
	.cell-md2 {
		width: 16.66666667%;
	}
	.cell-md1 {
		width: 8.33333333%;
	}
	.offset-md12 {
		margin-left: 100%;
	}
	.offset-md11 {
		margin-left: 91.66666667%;
	}
	.offset-md10 {
		margin-left: 83.33333333%;
	}
	.offset-md9 {
		margin-left: 75%;
	}
	.offset-md8 {
		margin-left: 66.66666667%;
	}
	.offset-md7 {
		margin-left: 53.33333333%;
	}
	.offset-md6 {
		margin-left: 50%;
	}
	.offset-md5 {
		margin-left: 41.66666667%;
	}
	.offset-md4 {
		margin-left: 33.33333333%;
	}
	.offset-md3 {
		margin-left: 25%;
	}
	.offset-md2 {
		margin-left: 16.66666667%;
	}
	.offset-md1 {
		margin-left: 8.33333333%;
	}
	.offset-md0 {
		margin-left: 0;
	}
	.push-md12 {
		left: 100%;
	}
	.push-md11 {
		left: 91.66666667%;
	}
	.push-md10 {
		left: 83.33333333%;
	}
	.push-md9 {
		left: 75%;
	}
	.push-md8 {
		left: 66.66666667%;
	}
	.push-md7 {
		left: 53.33333333%;
	}
	.push-md6 {
		left: 50%;
	}
	.push-md5 {
		left: 41.66666667%;
	}
	.push-md4 {
		left: 33.33333333%;
	}
	.push-md3 {
		left: 25%;
	}
	.push-md2 {
		left: 16.66666667%;
	}
	.push-md1 {
		left: 8.33333333%;
	}
	.push-md0 {
		left: auto;
	}
	.pull-md12 {
		right: 100%;
	}
	.pull-md11 {
		right: 91.66666667%;
	}
	.pull-md10 {
		right: 83.33333333%;
	}
	.pull-md9 {
		right: 75%;
	}
	.pull-md8 {
		right: 66.66666667%;
	}
	.pull-md7 {
		right: 53.33333333%;
	}
	.pull-md6 {
		right: 50%;
	}
	.pull-md5 {
		right: 41.66666667%;
	}
	.pull-md4 {
		right: 33.33333333%;
	}
	.pull-md3 {
		right: 25%;
	}
	.pull-md2 {
		right: 16.66666667%;
	}
	.pull-md1 {
		right: 8.33333333%;
	}
	.pull-md0 {
		right: auto;
	}
}
	/*	Tablet device	*/
@media only screen and (min-width: 768px) {
	.cell-td1,.cell-td2,.cell-td3,.cell-td4,.cell-td5,.cell-td6,.cell-td7,.cell-td8,.cell-td9,.cell-td10,.cell-td11,.cell-td12 {
		float: left;
	}
	.cell-td12 {
		width: 100%;
	}
	.cell-td11 {
		width: 91.66666667%;
	}
	.cell-td10 {
		width: 83.33333333%;
	}
	.cell-td9 {
		width: 75%;
	}
	.cell-td8 {
		width: 66.66666667%;
	}
	.cell-td7 {
		width: 58.33333333%;
	}
	.cell-td6 {
		width: 50%;
	}
	.cell-td5 {
		width: 41.66666667%;
	}
	.cell-td4 {
		width: 33.33333333%;
	}
	.cell-td3 {
		width: 25%;
	}
	.cell-td2 {
		width: 16.66666667%;
	}
	.cell-td1 {
		width: 8.33333333%;
	}
	.offset-td12 {
		margin-left: 100%;
	}
	.offset-td11 {
		margin-left: 91.66666667%;
	}
	.offset-td10 {
		margin-left: 83.33333333%;
	}
	.offset-td9 {
		margin-left: 75%;
	}
	.offset-td8 {
		margin-left: 66.66666667%;
	}
	.offset-td7 {
		margin-left: 53.33333333%;
	}
	.offset-td6 {
		margin-left: 50%;
	}
	.offset-td5 {
		margin-left: 41.66666667%;
	}
	.offset-td4 {
		margin-left: 33.33333333%;
	}
	.offset-td3 {
		margin-left: 25%;
	}
	.offset-td2 {
		margin-left: 16.66666667%;
	}
	.offset-td1 {
		margin-left: 8.33333333%;
	}
	.offset-td0 {
		margin-left: 0;
	}
	.push-td12 {
		left: 100%;
	}
	.push-td11 {
		left: 91.66666667%;
	}
	.push-td10 {
		left: 83.33333333%;
	}
	.push-td9 {
		left: 75%;
	}
	.push-td8 {
		left: 66.66666667%;
	}
	.push-td7 {
		left: 53.33333333%;
	}
	.push-td6 {
		left: 50%;
	}
	.push-td5 {
		left: 41.66666667%;
	}
	.push-td4 {
		left: 33.33333333%;
	}
	.push-td3 {
		left: 25%;
	}
	.push-td2 {
		left: 16.66666667%;
	}
	.push-td1 {
		left: 8.33333333%;
	}
	.push-td0 {
		left: auto;
	}
	.pull-td12 {
		right: 100%;
	}
	.pull-td11 {
		right: 91.66666667%;
	}
	.pull-td10 {
		right: 83.33333333%;
	}
	.pull-td9 {
		right: 75%;
	}
	.pull-td8 {
		right: 66.66666667%;
	}
	.pull-td7 {
		right: 53.33333333%;
	}
	.pull-td6 {
		right: 50%;
	}
	.pull-td5 {
		right: 41.66666667%;
	}
	.pull-td4 {
		right: 33.33333333%;
	}
	.pull-td3 {
		right: 25%;
	}
	.pull-td2 {
		right: 16.66666667%;
	}
	.pull-td1 {
		right: 8.33333333%;
	}
	.pull-td0 {
		right: auto;
	}
}
	/*	Tablet large */
@media only screen and (min-width: 992px) {
	.cell-tdl1,.cell-tdl2,.cell-tdl3,.cell-tdl4,.cell-tdl5,.cell-tdl6,.cell-tdl7,.cell-tdl8,.cell-tdl9,.cell-tdl10,.cell-tdl11,.cell-tdl12 {
		float: left;
	}
	.cell-tdl12 {
		width: 100%;
	}
	.cell-tdl11 {
		width: 91.66666667%;
	}
	.cell-tdl10 {
		width: 83.33333333%;
	}
	.cell-tdl9 {
		width: 75%;
	}
	.cell-tdl8 {
		width: 66.66666667%;
	}
	.cell-tdl7 {
		width: 58.33333333%;
	}
	.cell-tdl6 {
		width: 50%;
	}
	.cell-tdl5 {
		width: 41.66666667%;
	}
	.cell-tdl4 {
		width: 33.33333333%;
	}
	.cell-tdl3 {
		width: 25%;
	}
	.cell-tdl2 {
		width: 16.66666667%;
	}
	.cell-tdl1 {
		width: 8.33333333%;
	}
	.offset-tdl12 {
		margin-left: 100%;
	}
	.offset-tdl11 {
		margin-left: 91.66666667%;
	}
	.offset-tdl10 {
		margin-left: 83.33333333%;
	}
	.offset-tdl9 {
		margin-left: 75%;
	}
	.offset-tdl8 {
		margin-left: 66.66666667%;
	}
	.offset-tdl7 {
		margin-left: 53.33333333%;
	}
	.offset-tdl6 {
		margin-left: 50%;
	}
	.offset-tdl5 {
		margin-left: 41.66666667%;
	}
	.offset-tdl4 {
		margin-left: 33.33333333%;
	}
	.offset-tdl3 {
		margin-left: 25%;
	}
	.offset-tdl2 {
		margin-left: 16.66666667%;
	}
	.offset-tdl1 {
		margin-left: 8.33333333%;
	}
	.offset-tdl0 {
		margin-left: 0;
	}
	.push-tdl12 {
		left: 100%;
	}
	.push-tdl11 {
		left: 91.66666667%;
	}
	.push-tdl10 {
		left: 83.33333333%;
	}
	.push-tdl9 {
		left: 75%;
	}
	.push-tdl8 {
		left: 66.66666667%;
	}
	.push-tdl7 {
		left: 53.33333333%;
	}
	.push-tdl6 {
		left: 50%;
	}
	.push-tdl5 {
		left: 41.66666667%;
	}
	.push-tdl4 {
		left: 33.33333333%;
	}
	.push-tdl3 {
		left: 25%;
	}
	.push-tdl2 {
		left: 16.66666667%;
	}
	.push-tdl1 {
		left: 8.33333333%;
	}
	.push-tdl0 {
		left: auto;
	}
	.pull-tdl12 {
		right: 100%;
	}
	.pull-tdl11 {
		right: 91.66666667%;
	}
	.pull-tdl10 {
		right: 83.33333333%;
	}
	.pull-tdl9 {
		right: 75%;
	}
	.pull-tdl8 {
		right: 66.66666667%;
	}
	.pull-tdl7 {
		right: 53.33333333%;
	}
	.pull-tdl6 {
		right: 50%;
	}
	.pull-tdl5 {
		right: 41.66666667%;
	}
	.pull-tdl4 {
		right: 33.33333333%;
	}
	.pull-tdl3 {
		right: 25%;
	}
	.pull-tdl2 {
		right: 16.66666667%;
	}
	.pull-tdl1 {
		right: 8.33333333%;
	}
	.pull-tdl0 {
		right: auto;
	}
}
	/*	Desktop and Laptop	 */
@media only screen and (min-width: 1200px) {
	.cell-dd1,.cell-dd2,.cell-dd3,.cell-dd4,.cell-dd5,.cell-dd6,.cell-dd7,.cell-dd8,.cell-dd9,.cell-dd10,.cell-dd11,.cell-dd12 {
		float: left;
	}
	.cell-dd12 {
		width: 100%;
	}
	.cell-dd11 {
		width: 91.66666667%;
	}
	.cell-dd10 {
		width: 83.33333333%;
	}
	.cell-dd9 {
		width: 75%;
	}
	.cell-dd8 {
		width: 66.66666667%;
	}
	.cell-dd7 {
		width: 58.33333333%;
	}
	.cell-dd6 {
		width: 50%;
	}
	.cell-dd5 {
		width: 41.66666667%;
	}
	.cell-dd4 {
		width: 33.33333333%;
	}
	.cell-dd3 {
		width: 25%;
	}
	.cell-dd2 {
		width: 16.66666667%;
	}
	.cell-dd1 {
		width: 8.33333333%;
	}
	.offset-dd12 {
		margin-left: 100%;
	}
	.offset-dd11 {
		margin-left: 91.66666667%;
	}
	.offset-dd10 {
		margin-left: 83.33333333%;
	}
	.offset-dd9 {
		margin-left: 75%;
	}
	.offset-dd8 {
		margin-left: 66.66666667%;
	}
	.offset-dd7 {
		margin-left: 53.33333333%;
	}
	.offset-dd6 {
		margin-left: 50%;
	}
	.offset-dd5 {
		margin-left: 41.66666667%;
	}
	.offset-dd4 {
		margin-left: 33.33333333%;
	}
	.offset-dd3 {
		margin-left: 25%;
	}
	.offset-dd2 {
		margin-left: 16.66666667%;
	}
	.offset-dd1 {
		margin-left: 8.33333333%;
	}
	.offset-dd0 {
		margin-left: 0;
	}
	.push-dd12 {
		left: 100%;
	}
	.push-dd11 {
		left: 91.66666667%;
	}
	.push-dd10 {
		left: 83.33333333%;
	}
	.push-dd9 {
		left: 75%;
	}
	.push-dd8 {
		left: 66.66666667%;
	}
	.push-dd7 {
		left: 53.33333333%;
	}
	.push-dd6 {
		left: 50%;
	}
	.push-dd5 {
		left: 41.66666667%;
	}
	.push-dd4 {
		left: 33.33333333%;
	}
	.push-dd3 {
		left: 25%;
	}
	.push-dd2 {
		left: 16.66666667%;
	}
	.push-dd1 {
		left: 8.33333333%;
	}
	.push-dd0 {
		left: auto;
	}
	.pull-dd12 {
		right: 100%;
	}
	.pull-dd11 {
		right: 91.66666667%;
	}
	.pull-dd10 {
		right: 83.33333333%;
	}
	.pull-dd9 {
		right: 75%;
	}
	.pull-dd8 {
		right: 66.66666667%;
	}
	.pull-dd7 {
		right: 53.33333333%;
	}
	.pull-dd6 {
		right: 50%;
	}
	.pull-dd5 {
		right: 41.66666667%;
	}
	.pull-dd4 {
		right: 33.33333333%;
	}
	.pull-dd3 {
		right: 25%;
	}
	.pull-dd2 {
		right: 16.66666667%;
	}
	.pull-dd1 {
		right: 8.33333333%;
	}
	.pull-dd0 {
		right: auto;
	}
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 640px) {
	.table-container,.table-container .table {
		border: none;
	}
	.table-container.table-responsive .table thead,.table-container.table-responsive .table tfoot {
		display: none;
	}
	.table-container.table-responsive .table tbody {
		display: table-row-group;
		width: 100%;
	}
	.table-container.table-responsive .table tbody tr {
		display: block;
		margin-bottom: 20px;
		-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
	       -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
	   			box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
	}
	.table-container.table-responsive .table tbody td {
		background-color: #fff;
		display: block;
		text-align: right;
	}
	.table-container.table-responsive .table tbody td[data-title]:before {
		content: attr(data-title);
		float: left;
	}
	.circle {
		width: 50px;height: 50px;
	}
	.circle i {
		font-size: 14px;
	}
	.menu-circle {
		width: 40px;height: 40px;
		line-height: 36px;
		font-size: 14px;
	}
	.menu-circle.open {
		transform: translateY(-105px);
	}
	.menu-circle.chat.open {
		transform: translateY(-60px);
	}
}
@media screen and (max-width: 320px) {
	html {
		font-size: 90%;
	}
}
@media screen and (min-width: 320px) {
	html {
		font-size: 95%;
	}
}
@media screen and (min-width: 768px) {
	html {
		font-size: 100%;
	}
	.nav-menu {
		display: block;
		border-top: none;
		padding-left: 200px;
		overflow: visible;
	}
	.nav-menu > li {
		border-bottom: none;
		float: left;
	}
	.nav-menu > li.right {
		float: right;
		margin-right: 20px;
	}
	.nav-toggle {
		display: none;
	}
	.dropdown-menu {
		position: absolute;
		width: 180px;
		padding: 0;
		-webkit-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
	       -moz-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
				box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
		z-index: 999;
	}
	.dropdown-menu li {
		border-top: 0;
	}
	.dropdown-menu li a {
		text-align: center;
	}
}
@media screen and (min-width: 1024px) {
	html {
		font-size: 110%;
	}
}
@media only screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
    .modal-dialog {
    	padding: 15px;
    }
}
@media only screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media only screen and (min-width: 1024px) {
    .container {
        width: 1000px;
    }
}
@media only screen and (min-width: 1280px) {
    .container {
        width: 1250px;
    }
}
@media only screen and (min-width: 1440px) {
	.container {
		width: 1400px;
	}
}