/* MACode Cascading Style Sheets */

/*
 * Version : 1.0;    // This is first version
 * Official Site : http://www.macode.ga;  // Please visit my site and subscibe now
 * Social Media : - facebook = macode;
                  - twitter = macode;
*/

html,*,*:before,*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}
html {
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}
html,body {
	margin: 0;padding: 0;
}
article,aside,details,figcaption,figure,header,footer,nav,section,main {
	display: block;
}
audio,canvas,progress,video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}
a,a:visited {
	color: #2598da;
}
a:hover,a:active {
	outline: none;
}
abbr {
	text-decoration: none;
	border-bottom: 1px #999999 dotted;
	cursor: help;
	display: inline;
}
address {
	font-style: normal;
	margin: .625rem 0;
}
blockquote {
	margin: .625rem 0;
	padding: 0 0 0 .625rem;
	border-left: 0.25rem #999999 solid;
}
small {
	font-size: 80%;
}
svg:not(:root) {
	overflow: hidden;
}
img {
	max-width: 100%;height: auto;
	vertical-align: middle;
	border: 0;
}
pre,.pre {
	display: block;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
	display: inline;
}
q:before {
	content: open-quote;
}
q:after {
	content: close-quote;
}
code {
	font-family: sans-serif;
}
legend {
	display: table;
	color: inherit;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
form {
	margin: 0;
}
mark {
    background: #ff0;
    color: #000;
}
button,input,select,textarea,optgroup {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}
button,input {
	line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
}
label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"] {
	cursor: pointer;
}
input[type="search"] {
	box-sizing: content-box;
	appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
input[type=text]::-ms-clear,input[type=email]::-ms-clear,input[type=url]::-ms-clear,input[type=tel]::-ms-clear,input[type=number]::-ms-clear,input[type=time]::-ms-clear {
	display: none;
}
input[type=password]::-ms-reveal {
	display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
input::-webkit-input-placeholder {
	font-family: 'Montserrat';
}
input::-moz-input-placeholder {
	font-family: 'Montserrat';
}
text-area {
	overflow: auto;
	vertical-align: top;
}
table {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
}
	/*   Blur   */
.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}
/*Button*/
.btn {
	position: relative;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	background-color: #fff;color: #555;
	margin: 5px;padding: 8px 15px;
	border: 1px solid #555;border-radius: 2px;outline: none;
	-webkit-transition: -webkit-transform .3s;
	   -moz-transition: -moz-transform .3s;
			transition: transform .3s;
			transition: transform .3s, -webkit-transform .3s;
}
.btn:active {
	background-color: rgba(0,0,0,0.04);
	-webkit-transform: translate3d(2px,3px,0);
	   -moz-transform: translate3d(2px,3px,0);
	    -ms-transform: translate3d(2px,3px,0);
			transform: translate3d(2px,3px,0);
}
@media print {
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100%;
	}
	p,h2,h3 {
		orphans: 3;widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}
@font-face {
	font-family: 'macode';
	src: url('fonts/macode.eot?s3yuv9');
	src: url('fonts/macode.eot?s3yuv9#iefix') format('embedded-opentype'),
		 url('fonts/macode.ttf?s3yuv9') format('truetype'),
		 url('fonts/macode.woff?s3yuv9') format('woff'),
		 url('fonts/macode.svg?s3yuv9#macode') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat.otf');
}
body {
	font-family: 'Montserrat', sans-serif!important;
	font-size: .975rem;
	line-height: 1.3;
	color: #333;
}

	/* Scroll Bar (Not support in Mozilla Firefox) */
[data-scroll="ma-scroll"]::-webkit-scrollbar {
	width: 15px;
	background-color: #333;
}
[data-scroll="ma-scroll"]::-webkit-scrollbar-button {
	width: 15px;height: 15px;
	background-color: transparent;
}
[data-scroll="ma-scroll"]::-webkit-scrollbar-button:vertical:increment {
	background-image: url(../img/chevron-bottom.svg);
}
[data-scroll="ma-scroll"]::-webkit-scrollbar-button:vertical:decrement {
	background-image: url(../img/chevron-top.svg);
}
[data-scroll="ma-scroll"]::-webkit-scrollbar-thumb {
	background-color: #2196f3;
	border: 5px solid #333;
}
h1 {
	font-size: 2.25rem;
}
h2 {
	font-size: 1.875rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.125rem;
}
h5 {
	font-size: 0.975rem;
}
h6 {
	font-size: 0.875rem;
}
nav ul,nav ol,.unstyle-list {
	list-style: none;
	list-style-image: none;
	padding-left: 0;
}
sup,sub {
	position: relative;
	font-size: 75%;line-height: 0;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
b,strong,.text-bold {
	font-weight: bold;
}
i,dfn,cite,.text-italic {
	font-style: italic;
}
u,.text-underline {
	text-decoration: underline;
}
s,.strikethrough {
	text-decoration: line-through;
}
.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.inline-list {
	list-style: none;
	padding-left: 0;
}
.inline-list li {
	display: inline-block;
	margin-right: .625rem;
}
.inline-list li:last-child {
	margin-right: 0;
}
ul,ol {
	margin-left: .3125rem;
}
ul li,ol li {
	line-height: 1.25rem;
}
ul li ul,ol li ul,ul li ol,ol li ol {
	padding-left: 1.5625rem;
}
dl dt,dl dd {
	line-height: 1.25rem;
}
dl dd {
	margin-left: .9375rem;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capital {
  text-transform: capitalize;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}

	/*	Text background and color in block text	*/
.paragraph {
	text-indent: 50px;
	text-align: justify;
}
.paragraph *::-moz-selection {
	background-color: #555;color: #fff;
}
.paragraph *::selection {
	background-color: #555;color: #fff;
}
hr {
	display: block;
	width: 100%;height: 2px;
	border: none;
	background-color: #2598da;
}
hr.thin {
	height: 1px;
}
hr.ma-hr {
	position: relative;
	display: block;float: left;
	margin-top: 0;margin-bottom: 25px;
	max-width: 250px;height: 2px;
	background-color: #848fae;
	border-radius: 20px;
}
hr.ma-hr + * {
	clear: both;
}
hr.ma-hr:before {
	content: "";
	position: absolute;
	left: 0;
	border-radius: 20px;
	width: 40px;height: 2px;
	background-color: #f90606;
}
kbd {
	border-radius: 4px;
	padding: 2px 7px;
	font-size: 90%;
	background-color: #333;color: #fff;
}
.fixed-top,.fixed-bottom {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
}
.fixed-top {
	top: 0;
	bottom: auto;
}
.fixed-bottom {
	top: auto;
	bottom: 0;
}
.place-right {
	float: right!important;
}
.place-left {
	float: left!important;
}
.block {
	display: block!important;
}
.inline-block {
	display: inline-block!important;
}
.hidden {
	display: none!important;
}
.opacity {
	opacity: .8;
}
.half-opacity {
	opacity: .5;
}
.full-opacity {
	opacity: 0;
}
.container {
    position: relative;
    display: block;
    margin: 0 auto;padding: 0;
}
.container-left:before,.container-left:after,.container-right:before,.container-right:after {
    content: '';
    display: table;
}
.clearfix:before,.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.no-user-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	    	user-select: none;
}
.no-appearance {
	-webkit-appearance: none;
	   -moz-appearance: none;
	   		appearance: none;
}
.no-border {
	border: 0!important;
}
.border {
	border: 1px solid #555;
}
.video-container {
	position: relative;
	padding-top: 30px;padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.video-container iframe,.video-container object,.video-container embed {
	position: absolute;
	top: 0;left: 0;
	width: 100%;height: 100%;
}
.debug {
	border: 2px dashed #333;
}
	/*	Background Color & Color	*/
.ma-red,.ma-hover-red:hover {
	color:#fff!important;
	background-color: #fa3838!important;
}
.ma-blue,.ma-hover-blue:hover {
	color:#fff!important;
	background-color: #2196f3!important;
}
.ma-cfacebook,.ma-hover-cfacebook:hover {
	color:#fff!important;
	background-color: #3b5998!important;
}
.ma-sea,.ma-hover-sea:hover {
	color:#fff!important;
	background-color: #55acee!important;
}
.ma-green,.ma-hover-green:hover {
	color:#fff!important;
	background-color: #02cc83!important;
}
.ma-yellow,.ma-hover-yellow:hover {
	color: #fff!important;
	background-color: #ffff1a!important;
}
.ma-teal,.ma-hover-teal:hover {
	color:#fff!important;
	background-color: #037c7c!important;
}
.ma-lime,.ma-hover-lime:hover {
	color:#fff!important;
	background-color: #84c91d!important;
}
.ma-orange,.ma-hover-orange:hover {
	color:#fff!important;
	background-color: #ffa500!important;
}
.ma-deep-orange,.ma-hover-deep-orange:hover {
	color:#fff!important;
	background-color: #f55524!important;
}
.ma-purple,.ma-hover-purple:hover {
	color:#fff!important;
	background-color: #b300b3!important;
}
.ma-indigo,.ma-hover-indigo:hover {
	color:#fff!important;
	background-color: #8c1aff!important;
}
.ma-light-grey,.ma-hover-light-grey:hover {
	color: #000!important;
	background-color: #f1f1f1!important;
}
.ma-white,.ma-hover-white:hover {
	color: #000!important;
	background-color: #fff!important;
}
.ma-brown,.ma-hover-brown:hover {
	color: #fff!important;
	background-color: #8e2525!important;
}
.ma-black,.ma-hover-black:hover {
	color: #fff!important;
	background-color: #333!important;
}
.c-red,.c-hover-red:hover {
	color: #fa3838!important;
}
.c-blue,.c-hover-blue:hover {
	color: #2196f3!important;
}
.c-green,.c-hover-green:hover {
	color: #02cc83!important;
}
.c-sea,.c-hover-sea:hover {
	color: #55acee!important;
}
.c-teal,.c-hover-teal:hover {
	color: #037c7c!important;
}
.c-yellow,.c-hover-yellow:hover {
	color: #ffff1a!important;
}
.c-orange,.c-hover-orange:hover {
	color: #ffa500!important;
}
.c-deep-orange,.c-hover-deep-orange:hover {
	color: #f55524!important;
}
.c-purple,.c-hover-purple:hover {
	color: #b300b3!important;
}
.c-indigo,.c-hover-indigo:hover {
	color: #8c1aff!important;
}
.c-light-grey,.c-hover-light-grey:hover {
	color: #f1f1f1!important;
}
.c-black,.c-hover-black:hover {
	color: #333!important;
}
.c-white,.c-hover-white:hover {
	color: #fff!important;
}
.b-red,.b-hover-red:hover {
	border-color: #fa3838!important;
}
.b-blue,.b-hover-blue:hover {
	border-color: #2196f3!important;
}
.b-sea,.b-hover-sea:hover {
	border-color: #55acee!important;
}
.b-green,.b-hover-green:hover {
	border-color: #02cc83!important;
}
.b-yellow,.b-hover-yellow:hover {
	border-color: #ffff1a!important;
}
.b-teal,.b-hover-teal:hover {
	border-color: #037c7c!important;
}
.b-orange,.b-hover-orange:hover {
	border-color: #ffa500!important;
}
.b-deep-orange,.b-hover-deep-orange:hover {
	border-color: #f55524!important;
}
.b-purple,.b-hover-purple:hover {
	border-color: #b300b3!important;
}
.b-indigo,.b-hover-indigo:hover {
	border-color: #8c1aff!important;
}
.b-light-grey,.b-hover-light-grey:hover {
	border-color: #f1f1f1!important;
}
.b-white,.b-hover-white:hover {
	border-color: #fff!important;
}
.b-brown,.b-hover-brown:hover {
	border-color: #8e2525!important;
}
.b-black,.b-hover-black:hover {
	border-color: #333!important;
}

		/*	Shadow 	*/
.shadow-1 {
	-webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
			box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
}
.shadow-2 {
	-webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
	   		box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
}
.shadow-3 {
	-webkit-box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.3);
	   -moz-box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.3);
	   		box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.3);
}
.shadow-4 {
	-webkit-box-shadow: 4px 4px 8px 3px rgba(0,0,0,0.3);
	   -moz-box-shadow: 4px 4px 8px 3px rgba(0,0,0,0.3);
	   		box-shadow: 4px 4px 8px 3px rgba(0,0,0,0.3);
}

		/*	Code Editor  */
.code-container {
	position: relative;
	display: block;
	width: 100%;
	margin: 15px 0;padding: 50px 15px 15px 15px;
	white-space: pre;
	font-family: monospace;font-size: 16px;
	background-color: #333;color: #fff;
	overflow-x: auto;
}
.code-container::-webkit-scrollbar {
	width: 10px;
	background-color: #222;
}
.code-container::-webkit-scrollbar-thumb {
	border: 4px solid #222;
	background-color: #2196f3;
}
.code-container[data-code="html"]:after,.code-container[data-code="css"]:after,.code-container[data-code="javascript"]:after,.code-container[data-code="html"]:before,.code-container[data-code="css"]:before,.code-container[data-code="javascript"]:before,.code-container.Codehtml:after,.code-container.Codecss:after,.code-container.Codejavascript:after,.code-container.Codehtml:before,.code-container.Codecss:before,.code-container.Codejavascript:before {
	position: absolute;
	font-size: 25px;
	line-height: 50px;
	top: 0;
	height: 50px;
	cursor: default;
}
.code-container[data-code="html"]:before,.code-container[data-code="css"]:before,.code-container[data-code="javascript"]:before,.code-container.Codehtml:before,.code-container.Codecss:before,.code-container.Codejavascript:before {
	left: 0;padding-left: 20px;
	width: 100%;
}
.code-container[data-code="html"]:after,.code-container[data-code="css"]:after,.code-container[data-code="javascript"]:after,.code-container.Codehtml:after,.code-container.Codecss:after,.code-container.Codejavascript:after {
	content: "</>";
	right: 0;padding-right: 20px;
}
.code-container[data-code="html"]:before,.code-container.Codehtml:before {
	content: "HTML";
	background-color: #f55524;
}
.code-container[data-code="css"]:before,.code-container.Codecss:before {
	content: "CSS";
	background-color: #2196f3;
}
.code-container[data-code="javascript"]:before,.code-container.Codejavascript:before {
	content: "JavaScript";
	background-color: #ffa500;
}

		/*	Table 	*/
.table-container {
	position: relative;
	width: 100%;
	margin: 15px 0;
	border: 1px solid #f1f1f1;
}
.table-container.table-scroll {
	max-height: 550px;
	overflow: hidden;overflow-y: auto;overflow-x: auto;
}
.table-container.table-scroll::-webkit-scrollbar {
	width: 15px;
	background-color: #222;
}
.table-container.table-scroll::-webkit-scrollbar-thumb {
	background-color: #2196f3;
	border: 4px solid #222;
}
.table {
	width: 100%;
	background-color: #fff;color: #333;
	overflow-x: hidden;
	z-index: 9;
	-webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
	   		box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
}
.table thead,.table tbody,.table tfoot {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	   		transition: all .3s ease;
}
.table thead th,.table tbody th,.table tfoot th,.table thead td,.table tbody td,.table tfoot td {
	text-align: left;
	padding: 15px;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	   		transition: all .3s ease;
}
.table thead th {
	color: #333;
	border-bottom: 2px solid #2196f3;
	cursor: default;
}
.table.ma-black thead th {
	color: #fff;
}
.table.border {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	   		box-shadow: none;
}

		/* 	Date & Time   */
.date-time-container {
	position: relative;
	display: block;
	width: 170px;height: 170px;
	margin: 10px;padding: 25px;
	text-align: center;
	vertical-align: middle;
	border-radius: 100%;border: 10px solid #333;
	background-color: #333;color: #fff;
	overflow: hidden;
	cursor: pointer;
	-webkit-box-shadow:inset 0 0 0 5px #fff;
	   -moz-box-shadow:inset 0 0 0 5px #fff;
	   		box-shadow:inset 0 0 0 5px #fff;
}
.date-time-container .point:before {
	content: ":";
	font-size: 18px;
}
.date-time-container [data-get="date"] {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
}
.date-time-container [data-time="hours"],.date-time-container [data-time="minutes"],.date-time-container [data-time="seconds"],.date-time-container .point {
	display: inline-block;
	font-size: 12px;
}
/*Navigation*/
	/*Responsive Navigation*/
.nav-toggle {
    display: block;float: right;
    width: 60px;height: 60px;
    padding: 27px 15px;
    background-color: transparent;
    cursor: pointer;
    transition: all .4s;
    z-index: 999;
}
.nav-toggle .bar {
    position: absolute;
    display: block;
    width: 30px;height: 2px;
    margin: 0 auto;
    background-color: #fff;
    transition: all .4s;
    z-index: 999;
}
.nav-toggle .bar:nth-child(1) {
    transform: translate3d(0,10px,0);
}
.nav-toggle .bar:nth-child(3) {
    transform: translate3d(0,-10px,0);
}
.nav-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg);
}
.nav-toggle.open .bar:nth-child(2) {
    transform: scale(0,1);
}
.nav-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg);
}

		/*	Navigation	*/
.navigation {
    position: relative;
    display: block;
    width: 100%;height: 60px;
    margin: 0;padding: 0;
    font-size: 100%;font-family: 'Montserrat';
    background-color: #2196f3;color: #fff;
    -webkit-transition: transform .4s, visibility .3s;
       -moz-transition: transform .4s, visibility .3s;
       		transition: transform .4s, visibility .3s;
    z-index: 99999;
}
.navigation:after {
	content: '';
	position: absolute;
	top: 59px;left: 0;
	width: 100%;height: 1px;
	background-color: #eee;
	z-index: 1;
}
.navigation .nav-brand {
    position: relative;
    display: block;float: left;
    height: 60px;
    background-color: transparent;color: #fff;
    padding: 0 25px;line-height: 60px;
    text-decoration: none;
    cursor: pointer;
    z-index: 11;
}
.navigation .nav-brand > .img-place {
	display: inline-block;
	width: 40px;height: 40px;
}
.nav-menu {
	position: relative;
    display: none;
    margin: 0;padding: 0;
    width: 100%;
    border-top: 1px solid #eee;
    overflow: hidden;
    z-index: 10;
}
.nav-menu > li {
    background-color: #2196f3;
   	border-bottom: 1px solid #eee;
    float: none;
    cursor: pointer;
}
.nav-menu > li.right {
	float: none;
	cursor: pointer;
	z-index: 9999;
}
.nav-menu > li > a,.nav-menu > li.right > a {
    display: block;
    text-decoration: none;
    height: 59px;
    line-height: 60px;
    padding: 0 15px;
    color: #fff;
}
.nav-menu > li > a:hover,.nav-menu > li.dropdown:hover > a {
    background-color: rgba(0,0,0,0.1);
}
.navigation.ma-black .nav-menu > li {
	background-color: #333;
}
.navigation.ma-white .nav-brand,.navigation.ma-white .nav-menu > li > a {
	color: #000;
}
.navigation.ma-white .nav-menu > li {
	background-color: #fff;
}
.navigation.ma-white .nav-toggle .bar {
	background-color: #000;
}

		/*	Dropdown   */
.dropdown > a {
	position: relative;
	padding-right: 35px!important;
}
.dropdown > a:after {
	content: '\e932';
	position: absolute;
	font-family: 'macode';font-size: 10px;
	right: 8px;
	-webkit-transition: -webkit-transform .4s;
	   -moz-transition: -moz-transform .4s;
	   		transition: transform .4s, -webkit-transform .4s;
}
.dropdown.open > a:after {
	-webkit-transform: rotate(-180deg);
	   -moz-transform: rotate(-180deg);
	   		transform: rotate(-180deg);
}
.dropdown-menu  {
	position: relative;
	display: none;
	list-style: none;
	width: 100%;
	margin: 0;padding: 0 15px;
	background-color: #fff;
	font-size: 100%;
	overflow: hidden;
	-webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0);
	   -moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,0);
			box-shadow: 0 1px 3px 1px rgba(0,0,0,0);
}
.dropdown-menu li {
	width: 100%;
	float: left;
	border-top: 1px solid #eee;
}
.dropdown-menu li a {
	display: block;
	text-align: left;text-decoration: none;
	color: #555;
	padding: 15px;
}
.dropdown-menu li a:hover {
	background-color: #2196f3;color: #fff;
}
.show-nav {
	transform: translateY(0);
	visibility: visible;
}
.hide-nav {
	transform: translateY(-100%);
	visibility: hidden;
}

.anim {
	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
			transition: all .4s ease;
}
.anim.show {
	animation-duration: 1s;
	animation-fill-mode: both;
}
.fade {
	opacity: 0;
}
.fade.show {
	opacity: 1;
}
.fade-left {
	-webkit-transform: translateX(-200px);
	   -moz-transform: translateX(-200px);
			transform: translateX(-200px);
	opacity: 0;
}
.fade-left.show {
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
			transform: translateX(0);
	opacity: 1;
}
.fade-right {
	-webkit-transform: translateX(200px);
	   -moz-transform: translateX(200px);
			transform: translateX(200px);
	opacity: 0;
}
.fade-right.show {
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
			transform: translateX(0);
	opacity: 1;
}
.fade-top {
	-webkit-transform: translateY(-200px);
	   -moz-transform: translateY(-200px);
			transform: translateY(-200px);
	opacity: 0;
}
.fade-top.show {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
			transform: translateY(0);
	opacity: 1;
}
.fade-bottom {
	-webkit-transform: translateY(200px);
	   -moz-transform: translateY(200px);
			transform: translateY(200px);
	opacity: 0;
}
.fade-bottom.show {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
			transform: translateY(0);
	opacity: 1;
}
.scale-in {
	-webkit-transform: scale(0.8);
	   -moz-transform: scale(0.8);
			transform: scale(0.8);
	opacity: 0;
}
.scale-in.show {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
			transform: scale(1);
	opacity: 1;
}
.scale-out {
	-webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
			transform: scale(1.2);
	opacity: 0;
}
.scale-out.show {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
			transform: scale(1);
	opacity: 1;
}

	/*	Modal dialog  */
.modal-show {
	overflow: hidden;
}
.modal-dialog {
	position: fixed;
	top: 0;left: 0;right: 0;bottom: 0;
	margin: auto;padding: 15px 0;
	width: 100%;height: 100%;
	display: none;
	background: #fff;
	overflow-x: hidden;overflow-y: auto;
	z-index: 99999;
}
.modal-dialog.show {
	display: block;
}
.modal-dialog > .btn-close-modal {
	position: absolute;
	top: 15px;right: 15px;
	width: 45px;height: 45px;
	border-radius: 100%;
	display: block;
	background: rgba(0,0,0,0.4);color: #fff;
}
.modal-dialog > .btn-close-modal:hover {
	color: #fff;
}