@font-face {
  font-family: 'macode';
  src:  url('../fonts/macode.eot?s3yuv9');
  src:  url('../fonts/macode.eot?s3yuv9#iefix') format('embedded-opentype'),
        url('../fonts/macode.ttf?s3yuv9') format('truetype'),
        url('../fonts/macode.woff?s3yuv9') format('woff'),
        url('../fonts/macode.svg?s3yuv9#macode') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'macode' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ma-align-center:before {
  content: "\e900";
}
.ma-align-justify:before {
  content: "\e901";
}
.ma-align-left:before {
  content: "\e902";
}
.ma-align-right:before {
  content: "\e903";
}
.ma-amazon:before {
  content: "\e904";
}
.ma-amd:before {
  content: "\e905";
}
.ma-android:before {
  content: "\e906";
}
.ma-apple:before {
  content: "\e907";
}
.ma-archive:before {
  content: "\e908";
}
.ma-archive-o:before {
  content: "\e909";
}
.ma-arrow-bottom:before {
  content: "\e90a";
}
.ma-arrow-left:before {
  content: "\e90b";
}
.ma-arrow-right:before {
  content: "\e90c";
}
.ma-arrow-top:before {
  content: "\e90d";
}
.ma-ascending:before {
  content: "\e90e";
}
.ma-asterisk:before {
  content: "\e90f";
}
.ma-attachment:before {
  content: "\e910";
}
.ma-bar-chart:before {
  content: "\e911";
}
.ma-barcode:before {
  content: "\e912";
}
.ma-battery:before {
  content: "\e913";
}
.ma-bell:before {
  content: "\e914";
}
.ma-bell-o:before {
  content: "\e915";
}
.ma-bin:before {
  content: "\e916";
}
.ma-bing:before {
  content: "\e917";
}
.ma-bin-o:before {
  content: "\e918";
}
.ma-biohazard:before {
  content: "\e919";
}
.ma-bitcoin:before {
  content: "\e91a";
}
.ma-blogger:before {
  content: "\e91b";
}
.ma-bluetooth:before {
  content: "\e91c";
}
.ma-bluetooth2:before {
  content: "\e91d";
}
.ma-bold:before {
  content: "\e91e";
}
.ma-book:before {
  content: "\e91f";
}
.ma-bookmark:before {
  content: "\e920";
}
.ma-briefcase:before {
  content: "\e921";
}
.ma-brightness:before {
  content: "\e922";
}
.ma-bubble:before {
  content: "\e923";
}
.ma-bubbles:before {
  content: "\e924";
}
.ma-bug:before {
  content: "\e925";
}
.ma-bullets:before {
  content: "\e926";
}
.ma-calculator:before {
  content: "\e927";
}
.ma-calendar:before {
  content: "\e928";
}
.ma-calendar-o:before {
  content: "\e929";
}
.ma-camera:before {
  content: "\e92a";
}
.ma-camera-o:before {
  content: "\e92b";
}
.ma-card:before {
  content: "\e92c";
}
.ma-cart:before {
  content: "\e92d";
}
.ma-casing:before {
  content: "\e92e";
}
.ma-cctv:before {
  content: "\e92f";
}
.ma-cdrom:before {
  content: "\e930";
}
.ma-checked:before {
  content: "\e931";
}
.ma-chevron-bottom:before {
  content: "\e932";
}
.ma-chevron-left:before {
  content: "\e933";
}
.ma-chevron-right:before {
  content: "\e934";
}
.ma-chevrons-bottom:before {
  content: "\e935";
}
.ma-chevrons-left:before {
  content: "\e936";
}
.ma-chevrons-right:before {
  content: "\e937";
}
.ma-chevrons-top:before {
  content: "\e938";
}
.ma-chevron-top:before {
  content: "\e939";
}
.ma-chrome:before {
  content: "\e93a";
}
.ma-circle-check:before {
  content: "\e93b";
}
.ma-circle-cross:before {
  content: "\e93c";
}
.ma-circle-exclamation:before {
  content: "\e93d";
}
.ma-circle-info:before {
  content: "\e93e";
}
.ma-circle-minus:before {
  content: "\e93f";
}
.ma-circle-pause:before {
  content: "\e940";
}
.ma-circle-play:before {
  content: "\e941";
}
.ma-circle-plus:before {
  content: "\e942";
}
.ma-circle-power:before {
  content: "\e943";
}
.ma-circle-question:before {
  content: "\e944";
}
.ma-circle-stop:before {
  content: "\e945";
}
.ma-click:before {
  content: "\e946";
}
.ma-click-gesture:before {
  content: "\e947";
}
.ma-clip:before {
  content: "\e948";
}
.ma-clipboard:before {
  content: "\e949";
}
.ma-clock:before {
  content: "\e94a";
}
.ma-clock-o:before {
  content: "\e94b";
}
.ma-cloud:before {
  content: "\e94c";
}
.ma-cloud-o:before {
  content: "\e94d";
}
.ma-code:before {
  content: "\e94e";
}
.ma-codepen:before {
  content: "\e94f";
}
.ma-cog:before {
  content: "\e950";
}
.ma-cog-o:before {
  content: "\e951";
}
.ma-cogs:before {
  content: "\e952";
}
.ma-comment:before {
  content: "\e953";
}
.ma-comments:before {
  content: "\e954";
}
.ma-comment-typing:before {
  content: "\e955";
}
.ma-compass:before {
  content: "\e956";
}
.ma-computer:before {
  content: "\e957";
}
.ma-contrast:before {
  content: "\e958";
}
.ma-copy:before {
  content: "\e959";
}
.ma-copyright:before {
  content: "\e95a";
}
.ma-crop:before {
  content: "\e95b";
}
.ma-cross:before {
  content: "\e95c";
}
.ma-css3:before {
  content: "\e95d";
}
.ma-dashboard:before {
  content: "\e95e";
}
.ma-database:before {
  content: "\e95f";
}
.ma-descending:before {
  content: "\e960";
}
.ma-diamond:before {
  content: "\e961";
}
.ma-diamond-o:before {
  content: "\e962";
}
.ma-digg:before {
  content: "\e963";
}
.ma-download:before {
  content: "\e964";
}
.ma-download2:before {
  content: "\e965";
}
.ma-draft:before {
  content: "\e966";
}
.ma-draft-o:before {
  content: "\e967";
}
.ma-dribble:before {
  content: "\e968";
}
.ma-dropbox:before {
  content: "\e969";
}
.ma-drupal:before {
  content: "\e96a";
}
.ma-ea:before {
  content: "\e96b";
}
.ma-earth:before {
  content: "\e96c";
}
.ma-edge:before {
  content: "\e96d";
}
.ma-enter:before {
  content: "\e96e";
}
.ma-envelope:before {
  content: "\e96f";
}
.ma-envelope-o:before {
  content: "\e970";
}
.ma-equal:before {
  content: "\e971";
}
.ma-eraser:before {
  content: "\e972";
}
.ma-exchange:before {
  content: "\e973";
}
.ma-exit:before {
  content: "\e974";
}
.ma-expand-h:before {
  content: "\e975";
}
.ma-expand-v:before {
  content: "\e976";
}
.ma-eye:before {
  content: "\e977";
}
.ma-eyedropper:before {
  content: "\e978";
}
.ma-eye-slash:before {
  content: "\e979";
}
.ma-facebook:before {
  content: "\e97a";
}
.ma-fan:before {
  content: "\e97b";
}
.ma-fax:before {
  content: "\e97c";
}
.ma-feed:before {
  content: "\e97d";
}
.ma-file:before {
  content: "\e97e";
}
.ma-file-avi:before {
  content: "\e97f";
}
.ma-file-css:before {
  content: "\e980";
}
.ma-file-csv:before {
  content: "\e981";
}
.ma-file-doc:before {
  content: "\e982";
}
.ma-file-exe:before {
  content: "\e983";
}
.ma-file-html:before {
  content: "\e984";
}
.ma-file-iso:before {
  content: "\e985";
}
.ma-file-javascript:before {
  content: "\e986";
}
.ma-file-jpg:before {
  content: "\e987";
}
.ma-file-json:before {
  content: "\e988";
}
.ma-file-mp3:before {
  content: "\e989";
}
.ma-file-mp4:before {
  content: "\e98a";
}
.ma-file-o:before {
  content: "\e98b";
}
.ma-file-pdf:before {
  content: "\e98c";
}
.ma-file-png:before {
  content: "\e98d";
}
.ma-file-ppt:before {
  content: "\e98e";
}
.ma-file-svg:before {
  content: "\e98f";
}
.ma-file-txt:before {
  content: "\e990";
}
.ma-file-xls:before {
  content: "\e991";
}
.ma-file-xml:before {
  content: "\e992";
}
.ma-file-zip:before {
  content: "\e993";
}
.ma-fire:before {
  content: "\e994";
}
.ma-firefox:before {
  content: "\e995";
}
.ma-flag:before {
  content: "\e996";
}
.ma-flash:before {
  content: "\e997";
}
.ma-flash-o:before {
  content: "\e998";
}
.ma-folder:before {
  content: "\e999";
}
.ma-folder-open:before {
  content: "\e99a";
}
.ma-forbidden:before {
  content: "\e99b";
}
.ma-foursquare:before {
  content: "\e99c";
}
.ma-game-controller:before {
  content: "\e99d";
}
.ma-gift:before {
  content: "\e99e";
}
.ma-github:before {
  content: "\e99f";
}
.ma-github2:before {
  content: "\e9a0";
}
.ma-google:before {
  content: "\e9a1";
}
.ma-google-circle:before {
  content: "\e9a2";
}
.ma-google-drive:before {
  content: "\e9a3";
}
.ma-google-plus:before {
  content: "\e9a4";
}
.ma-graduation-cap:before {
  content: "\e9a5";
}
.ma-group:before {
  content: "\e9a6";
}
.ma-growth:before {
  content: "\e9a7";
}
.ma-grup:before {
  content: "\e9a8";
}
.ma-grup-o:before {
  content: "\e9a9";
}
.ma-headphones:before {
  content: "\e9aa";
}
.ma-heart:before {
  content: "\e9ab";
}
.ma-heart-broken:before {
  content: "\e9ac";
}
.ma-heart-o:before {
  content: "\e9ad";
}
.ma-home:before {
  content: "\e9ae";
}
.ma-home-o:before {
  content: "\e9af";
}
.ma-hourglass-finish:before {
  content: "\e9b0";
}
.ma-hourglass-running:before {
  content: "\e9b1";
}
.ma-hourglass-start:before {
  content: "\e9b2";
}
.ma-html5:before {
  content: "\e9b3";
}
.ma-ie:before {
  content: "\e9b4";
}
.ma-image:before {
  content: "\e9b5";
}
.ma-image-o:before {
  content: "\e9b6";
}
.ma-indent-decrease:before {
  content: "\e9b7";
}
.ma-indent-increase:before {
  content: "\e9b8";
}
.ma-infinite:before {
  content: "\e9b9";
}
.ma-infinity:before {
  content: "\e9ba";
}
.ma-instagram:before {
  content: "\e9bb";
}
.ma-intel:before {
  content: "\e9bc";
}
.ma-internet:before {
  content: "\e9bd";
}
.ma-internet-o:before {
  content: "\e9be";
}
.ma-java:before {
  content: "\e9bf";
}
.ma-javascript:before {
  content: "\e9c0";
}
.ma-joomla:before {
  content: "\e9c1";
}
.ma-joystick:before {
  content: "\e9c2";
}
.ma-jsfiddle:before {
  content: "\e9c3";
}
.ma-key:before {
  content: "\e9c4";
}
.ma-keyboard:before {
  content: "\e9c5";
}
.ma-key-o:before {
  content: "\e9c6";
}
.ma-keypad:before {
  content: "\e9c7";
}
.ma-lan:before {
  content: "\e9c8";
}
.ma-laptop:before {
  content: "\e9c9";
}
.ma-line:before {
  content: "\e9ca";
}
.ma-link:before {
  content: "\e9cb";
}
.ma-linkedin:before {
  content: "\e9cc";
}
.ma-linux:before {
  content: "\e9cd";
}
.ma-list:before {
  content: "\e9ce";
}
.ma-list-o:before {
  content: "\e9cf";
}
.ma-location:before {
  content: "\e9d0";
}
.ma-location2:before {
  content: "\e9d1";
}
.ma-location-o:before {
  content: "\e9d2";
}
.ma-lock:before {
  content: "\e9d3";
}
.ma-loop:before {
  content: "\e9d4";
}
.ma-loop2:before {
  content: "\e9d5";
}
.ma-loop-search:before {
  content: "\e9d6";
}
.ma-maestro-card:before {
  content: "\e9d7";
}
.ma-mail-o:before {
  content: "\e9d8";
}
.ma-map:before {
  content: "\e9d9";
}
.ma-map-o:before {
  content: "\e9da";
}
.ma-mars:before {
  content: "\e9db";
}
.ma-mastercard:before {
  content: "\e9dc";
}
.ma-maxcdn:before {
  content: "\e9dd";
}
.ma-menu:before {
  content: "\e9de";
}
.ma-messanger:before {
  content: "\e9df";
}
.ma-messanger-o:before {
  content: "\e9e0";
}
.ma-mic:before {
  content: "\e9e1";
}
.ma-mic-mute:before {
  content: "\e9e2";
}
.ma-mic-mute-o:before {
  content: "\e9e3";
}
.ma-mic-o:before {
  content: "\e9e4";
}
.ma-minus:before {
  content: "\e9e5";
}
.ma-mobile:before {
  content: "\e9e6";
}
.ma-modulus:before {
  content: "\e9e7";
}
.ma-monitor:before {
  content: "\e9e8";
}
.ma-more-h:before {
  content: "\e9e9";
}
.ma-more-v:before {
  content: "\e9ea";
}
.ma-motherboard:before {
  content: "\e9eb";
}
.ma-motherboard-o:before {
  content: "\e9ec";
}
.ma-mouse:before {
  content: "\e9ed";
}
.ma-mouse-arrow:before {
  content: "\e9ee";
}
.ma-mouse-o:before {
  content: "\e9ef";
}
.ma-move:before {
  content: "\e9f0";
}
.ma-music:before {
  content: "\e9f1";
}
.ma-netscape:before {
  content: "\e9f2";
}
.ma-new-file:before {
  content: "\e9f3";
}
.ma-newspaper:before {
  content: "\e9f4";
}
.ma-new-tabs:before {
  content: "\e9f5";
}
.ma-numbering:before {
  content: "\e9f6";
}
.ma-nvdia:before {
  content: "\e9f7";
}
.ma-nvdia-geforce:before {
  content: "\e9f8";
}
.ma-onedrive:before {
  content: "\e9f9";
}
.ma-opera:before {
  content: "\e9fa";
}
.ma-operator:before {
  content: "\e9fb";
}
.ma-page-break:before {
  content: "\e9fc";
}
.ma-paper-plane:before {
  content: "\e9fd";
}
.ma-paper-plane-o:before {
  content: "\e9fe";
}
.ma-pause:before {
  content: "\e9ff";
}
.ma-paypal:before {
  content: "\ea00";
}
.ma-pencil:before {
  content: "\ea01";
}
.ma-percent:before {
  content: "\ea02";
}
.ma-phone:before {
  content: "\ea03";
}
.ma-pin:before {
  content: "\ea04";
}
.ma-pinterest:before {
  content: "\ea05";
}
.ma-pinterest-o:before {
  content: "\ea06";
}
.ma-play-button:before {
  content: "\ea07";
}
.ma-play-store:before {
  content: "\ea08";
}
.ma-play-store-o:before {
  content: "\ea09";
}
.ma-plus:before {
  content: "\ea0a";
}
.ma-power:before {
  content: "\ea0b";
}
.ma-price-tag:before {
  content: "\ea0c";
}
.ma-price-tags:before {
  content: "\ea0d";
}
.ma-printer:before {
  content: "\ea0e";
}
.ma-processor:before {
  content: "\ea0f";
}
.ma-processor-o:before {
  content: "\ea10";
}
.ma-projector:before {
  content: "\ea11";
}
.ma-projector-o:before {
  content: "\ea12";
}
.ma-psu:before {
  content: "\ea13";
}
.ma-qrcode:before {
  content: "\ea14";
}
.ma-ram:before {
  content: "\ea15";
}
.ma-ram-o:before {
  content: "\ea16";
}
.ma-recycle:before {
  content: "\ea17";
}
.ma-redo:before {
  content: "\ea18";
}
.ma-refresh:before {
  content: "\ea19";
}
.ma-registered:before {
  content: "\ea1a";
}
.ma-rocket:before {
  content: "\ea1b";
}
.ma-rotate:before {
  content: "\ea1c";
}
.ma-rss:before {
  content: "\ea1d";
}
.ma-safari:before {
  content: "\ea1e";
}
.ma-save:before {
  content: "\ea1f";
}
.ma-scanner:before {
  content: "\ea20";
}
.ma-scissors:before {
  content: "\ea21";
}
.ma-sd-card:before {
  content: "\ea22";
}
.ma-secret-agent:before {
  content: "\ea23";
}
.ma-server:before {
  content: "\ea24";
}
.ma-server-o:before {
  content: "\ea25";
}
.ma-share:before {
  content: "\ea26";
}
.ma-sheet:before {
  content: "\ea27";
}
.ma-shield:before {
  content: "\ea28";
}
.ma-shield-protect:before {
  content: "\ea29";
}
.ma-shield-risk:before {
  content: "\ea2a";
}
.ma-shopping-bag:before {
  content: "\ea2b";
}
.ma-shrink:before {
  content: "\ea2c";
}
.ma-skype:before {
  content: "\ea2d";
}
.ma-snowflake:before {
  content: "\ea2e";
}
.ma-software:before {
  content: "\ea2f";
}
.ma-sort:before {
  content: "\ea30";
}
.ma-sound-card:before {
  content: "\ea31";
}
.ma-sound-card-o:before {
  content: "\ea32";
}
.ma-soundcloud:before {
  content: "\ea33";
}
.ma-speaker-high:before {
  content: "\ea34";
}
.ma-speaker-low:before {
  content: "\ea35";
}
.ma-speaker-medium:before {
  content: "\ea36";
}
.ma-speaker-mute:before {
  content: "\ea37";
}
.ma-speaker-none:before {
  content: "\ea38";
}
.ma-spinner:before {
  content: "\ea39";
}
.ma-spinner2:before {
  content: "\ea3a";
}
.ma-spinner3:before {
  content: "\ea3b";
}
.ma-spinner4:before {
  content: "\ea3c";
}
.ma-spinner5:before {
  content: "\ea3d";
}
.ma-spinner6:before {
  content: "\ea3e";
}
.ma-square-root:before {
  content: "\ea3f";
}
.ma-ssd:before {
  content: "\ea40";
}
.ma-ssd-o:before {
  content: "\ea41";
}
.ma-stack:before {
  content: "\ea42";
}
.ma-stack-o:before {
  content: "\ea43";
}
.ma-star:before {
  content: "\ea44";
}
.ma-star-o:before {
  content: "\ea45";
}
.ma-steam:before {
  content: "\ea46";
}
.ma-steam2:before {
  content: "\ea47";
}
.ma-storage:before {
  content: "\ea48";
}
.ma-strikethrough:before {
  content: "\ea49";
}
.ma-subscript:before {
  content: "\ea4a";
}
.ma-sun:before {
  content: "\ea4b";
}
.ma-superscript:before {
  content: "\ea4c";
}
.ma-tablet:before {
  content: "\ea4d";
}
.ma-tag:before {
  content: "\ea4e";
}
.ma-tags:before {
  content: "\ea4f";
}
.ma-target:before {
  content: "\ea50";
}
.ma-thermometer:before {
  content: "\ea51";
}
.ma-ticket:before {
  content: "\ea52";
}
.ma-tiles-medium:before {
  content: "\ea53";
}
.ma-tiles-wide:before {
  content: "\ea54";
}
.ma-tumblr:before {
  content: "\ea55";
}
.ma-twitter:before {
  content: "\ea56";
}
.ma-ubuntu:before {
  content: "\ea57";
}
.ma-underline:before {
  content: "\ea58";
}
.ma-undo:before {
  content: "\ea59";
}
.ma-unlock:before {
  content: "\ea5a";
}
.ma-upload:before {
  content: "\ea5b";
}
.ma-usb:before {
  content: "\ea5c";
}
.ma-usb-o:before {
  content: "\ea5d";
}
.ma-usb-port:before {
  content: "\ea5e";
}
.ma-user:before {
  content: "\ea5f";
}
.ma-venus:before {
  content: "\ea60";
}
.ma-vga:before {
  content: "\ea61";
}
.ma-video:before {
  content: "\ea62";
}
.ma-vimeo:before {
  content: "\ea63";
}
.ma-visa-card:before {
  content: "\ea64";
}
.ma-wallet:before {
  content: "\ea65";
}
.ma-warning:before {
  content: "\ea66";
}
.ma-warning-o:before {
  content: "\ea67";
}
.ma-whatsapp:before {
  content: "\ea68";
}
.ma-wifi-full:before {
  content: "\ea69";
}
.ma-wifi-low:before {
  content: "\ea6a";
}
.ma-wifi-medium:before {
  content: "\ea6b";
}
.ma-wifi-strength:before {
  content: "\ea6c";
}
.ma-wikipedia:before {
  content: "\ea6d";
}
.ma-windows:before {
  content: "\ea6e";
}
.ma-wordpress:before {
  content: "\ea6f";
}
.ma-xbox:before {
  content: "\ea70";
}
.ma-xbox-o:before {
  content: "\ea71";
}
.ma-xing:before {
  content: "\ea72";
}
.ma-yelp:before {
  content: "\ea73";
}
.ma-youtube:before {
  content: "\ea74";
}
.ma-youtube-play:before {
  content: "\ea75";
}
.ma-zip:before {
  content: "\ea76";
}
.ma-zoom-in:before {
  content: "\ea77";
}
.ma-zoom-out:before {
  content: "\ea78";
}

