*::-moz-selection {
    background-color: #02cc83;color: #fff;
    -webkit-text-fill-color: #fff;
}
*::selection {
    background-color: #02cc83;color: #fff;
    -webkit-text-fill-color: #fff;
}
        /*   Navigation   */
.navbar {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;height: 60px;
    background-color: #fff;
    overflow: ;
    border-bottom: 1px solid #eee;
    -webkit-transition: transform .4s, visibility .3s;
       -moz-transition: transform .4s, visibility .3s;
            transition: transform .4s, visibility .3s;
    z-index: 9999;
}
.navbar > .navbrand {
    position: relative;
    display: inline-block;float: left;
    margin: 0;padding: 0 15px;
    text-align: center;text-decoration: none;
    line-height: 60px;
    width: 150px;height: 100%;
    background: #2196f3;
    background: -webkit-linear-gradient(#02cc83, #66b3ff);
    background: -o-linear-gradient(#02cc83, #66b3ff);
    background: -moz-linear-gradient(#02cc83, #66b3ff);
    background: linear-gradient(#02cc83, #66b3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;font-weight: bold;
}
.nav-toggle {
    margin-right: 15px;
    padding: 28px 15px;
    width: 60px;height: 60px;
}
.nav-toggle .bar {
    width: 35px;
    background-color: #555;
}
.nav-toggle .bar:nth-child(1) {
    -webkit-transform: translate3d(0,12px,0);
       -moz-transform: translate3d(0,12px,0);
            transform: translate3d(0,12px,0);
}
.nav-toggle .bar:nth-child(3) {
    -webkit-transform: translate3d(0,-12px,0);
       -moz-transform: translate3d(0,-12px,0);
            transform: translate3d(0,-12px,0);
}
.navmenu {
    position: relative;
    display: none;float: left;
    width: 100%;
    list-style: none;
    text-align: center;
    background-color: #fff;color: #555;
    z-index: 999;
}
.navmenu.right {
    float: left!important;
    margin-right: 0;
}
.navmenu li {
    float: none;
}
.navmenu li.gap {
    position: relative;
    display: none;
    width: 2px;height: 45px;
    margin: 15px 0;
    background: #bfbfbf;
}
.navmenu li a {
    display: block;
    margin: 0;padding: 0 15px;
    text-align: left;text-decoration: none;
    font-weight: bold;font-size: 110%;
    line-height: 55px;
    border-bottom: 1px solid #eee;
    background: transparent;color: #555;
}
.navmenu li a:hover {
    color: #00d5af!important;
}
.sticky.fixed-top {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
       -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
            box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
@media only screen and (min-width: 768px) {
    .navbar {
        overflow: hidden;
        height: 75px;
    }
    .navbar > .navbrand {
        width: 250px;
        font-size: 30px;
        line-height: 75px;
    }
    .navmenu {
        display: inline-block;
        width: auto;
    }
    .navmenu.right {
        float: right!important;
        margin-right: 50px;
    }
    .navmenu li {
        float: left;
    }
    .navmenu li.gap {
        display: block;
    }
    .navmenu li a {
        text-align: center;
        height: 100%;
        line-height: 75px;
        border-bottom: none;
    }
}

        /*   Images Place   */
.img-place {
    display: block;
}
.img-place > img {
    width: 100%;height: 100%;
}
.img-place > .img-overlay {
    position: absolute;
    bottom: 0;left: 0;
    width: 100%;height: 50%;
    background: -webkit-linear-gradient(transparent, #fff);
    background: -moz-linear-gradient(transparent, #fff);
    background: linear-gradient(transparent, #fff);
}
.img-place > .img-dark-overlay {
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background: rgba(0,0,0,0.7);
}
.img-place > .img-caption {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;padding: 0;
    text-align: center;
    font-size: 75%;
}
.img-place > .img-caption > .caption-title {
    font-size: 150%;font-weight: bold;
}
.title {
    margin-top: 10px;margin-bottom: 50px;
    text-align: center;
    font-size: 100%;
    background: #2196f3;
    background: -webkit-linear-gradient(#02cc83, #66b3ff);
    background: -o-linear-gradient(#02cc83, #66b3ff);
    background: -moz-linear-gradient(#02cc83, #66b3ff);
    background: linear-gradient(#02cc83, #66b3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-animation {
    position: relative;
    display: block;
    margin-top: 60px;
    width: 100%;height: 350px;
    overflow: hidden;
    background: -webkit-radial-gradient(circle at bottom, #2b3e55 0%, #090a0f 100%);
    background: -moz-radial-gradient(circle at bottom, #2b3e55 0%, #090a0f 100%);
    background: radial-gradient(circle at bottom, #2b3e55 0%, #090a0f 100%);
}
.bg-animation #img-place {
    display: block;
    width: 100%;height: 100%;
}
.bg-animation .caption {
    position: absolute;
    top: 50%;left: 0;right: 0;
    margin-top: -120px;
    font-size: 100%;
    text-align: center;
    background: transparent;color: #fff;
}
.bg-animation .caption h1 {
    font-size: 35px;
    letter-spacing: 5px;
}
.bg-animation .caption * {
    background: -webkit-linear-gradient(to bottom, #fff, #557baa);
    background: -moz-linear-gradient(to bottom, #fff, #557baa);
    background: linear-gradient(to bottom, #fff, #557baa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
@media only screen and (min-width: 768px) {
    .bg-animation {
        margin-top: 75px;
        height: 650px;
    }
    .bg-animation .caption {
        margin-top: -100px;
    }
    .bg-animation .caption h1 {
        font-size: 50px;
    }
    .img-place > .img-caption {
        font-size: 100%;
    }
    .img-place > .img-caption > .caption-title {
        font-size: 200%;
    }
}
input,select,textarea {
	border: 1px solid #ccc;
	outline: none;
}
button {
    outline: none;
}
input:focus,select:focus,textarea:focus {
	border-color: #888;
}
ol,ul {
	list-style: none;
	padding: 0;margin: 0;
}
hr {
    position: relative;
    display: block;
}
hr.hr-gradient {
    position: relative;
    display: block;
    width: 100px;height: 10px;
    margin: 0 auto;
    border: none;border-radius: 20px;
    background: #02cc83;
    background: -webkit-linear-gradient(90deg, #02cc83, #00ccff);
    background: -o-linear-gradient(90deg, #02cc83, #00ccff);
    background: -moz-linear-gradient(90deg, #02cc83, #00ccff);
    background: linear-gradient(90deg, #02cc83, #00ccff);
}
.btn-reset {
    position: relative;
    display: inline-block;
    margin: 5px;padding: 10px 30px;
    font-size: 16px;
    border: none!important;border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 0 #c70505!important;
       -moz-box-shadow: 0 3px 0 0 #c70505!important;
            box-shadow: 0 3px 0 0 #c70505!important;
}
.card {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;padding: 5px 25px;
    width: 100%;max-height: 320px;
    border: 1px solid #2196f3;
    background-color: rgba(255,255,255,0.6);
}
.input-icon {
	position: absolute;
	width: 40px;height: 40px;
	color: #888;line-height: 38px;
	text-align: center;font-size: 20px;
    -webkit-transform: translateY(-52px);
       -moz-transform: translateY(-52px);
	       transform: translateY(-52px);
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
            transition: all .4s;
	z-index: 10;
}
.ma-input {
    position: relative;display: block;
    margin: 15px auto;padding: 8px 40px;
    width: 100%;
    border: 1px solid #2196f3;color: #2196f3;
    font-size: 100%;
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
            transition: all .4s;
    overflow: hidden;
}
.ma-input:focus {
	padding: 8px 10px;
}
.ma-input:focus + .input-icon {
	opacity: 0;
}
#show-password {
	display: block;
}
.side-card {
    position: absolute;
	width: 100%;
    margin: 0;padding: 5px 25px;
    top: 0;right: 0;
    border-left: 1px solid #eee;
}
#form-register {
    position: relative;
    display: block;
    width: 100%;
    margin: 25px 0;padding: 0;
}
.input,.select,.text-area {
    position: relative;
    display: block;
    width: 100%;
    margin: 15px 0;padding: 8px 10px;
    font-size: 16px;
    z-index: 9;
}
.validation {
    position: absolute;
    right: 0;
    width: 40px;height: 40px;
    font-size: 20px;color: #666;
    text-align: center;line-height: 32px;
    -webkit-transform: translateY(-50px);
       -moz-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
            transition: all .4s;
    z-index: 10;
}
.ma-input-control {
	position: relative;
	display: inline-block;
	margin: 12px 0;
	font-size: 80%;
}
.ma-input-control > .caption {
	font-family: 'Montserrat';font-weight: bold;
}
.ma-input-control.checkbox > input {
	width: 20px;height: 20px;
	border: 1px solid #333;
	border-radius: 0;
	background-color: #fff;color: #333;
}
@media (min-width: 768px) {
	.card {
		width: 400px;
		padding: 0 50px;
	}
	.side-card {
		width: 400px;
		padding: 5px 50px;
	}
}
.btn-slide {
    position: relative;
    display: inline-block;
    border: 3px solid transparent;outline: none;
    border-image: -webkit-linear-gradient(135deg, #02cc83, #00ccff);
    border-image: -moz-linear-gradient(135deg, #02cc83, #00ccff);
    border-image: linear-gradient(135deg, #02cc83, #00ccff);
    border-image-slice: 1;
    background-color: transparent;color: #fff!important;
    font-size: 100%;font-family: 'Montserrat', sans-serif;
    text-align: center;text-decoration: none;text-shadow: 0 0 1px #fff;
    margin: 5px auto;padding: 12px 15px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.btn-slide:before,.btn-slide:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;height: 100%;
    z-index: -1;
}
.btn-slide:before {
    left: 0;
    -webkit-transition: width .35s, background .35s ease;
       -moz-transition: width .35s, background .35s ease;
            transition: width .35s, background .35s ease;
}
.btn-slide:after {
    right: 0;
    transition: width .35s ease;
    background: #02cc83;
    background: -webkit-linear-gradient(135deg, #02cc83, #00ccff);
    background: -o-linear-gradient(135deg, #02cc83, #00ccff);
    background: -moz-linear-gradient(135deg, #02cc83, #00ccff);
    background: linear-gradient(135deg, #02cc83, #00ccff);
}
.btn-slide:hover:before {
    width: 100%;
    background: #02cc83;
    background: -webkit-linear-gradient(135deg, #02cc83, #00ccff);
    background: -o-linear-gradient(135deg, #02cc83, #00ccff);
    background: -moz-linear-gradient(135deg, #02cc83, #00ccff);
    background: linear-gradient(135deg, #02cc83, #00ccff);
}
.btn-slide:hover:after {
    width: 100%;
    background: transparent;
}
.container,.container-fluid {
    position: relative;
    display: block;
    margin: 0 auto;padding: 0;
}
.container-left:before,.container-left:after,.container-right:before,.container-right:after,.container-fluid:before,.container-fuild:after {
    content: '';
    display: table;
}
.container-left:after,.container-right:before,.container-fluid:after {
    clear: both;
}

    /*   About   */
#about {
    position: relative;
    margin-top: 25px;margin-bottom: 25px;
    padding: 15px;
}
#about .img-place {
    max-width: 350px;
    margin: 0 auto;padding: 25px;
}
#about .caption-content {
    color: #000;
}

    /*   Content   */
.content {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;padding: 25px 15px;
}
#competition {
    background-color: #232732;color: #a9b5bf;
    font-size: 100%;
    overflow: hidden;
}
#competition .btn-slide {
    padding-left:  35px;padding-right: 35px;
}
#competition .caption-content {
    font-size: 110%;
}
.caption-content {
    position: relative;
    display: block;
    margin: 0;padding: 0 15px;
    color: #a9b5bf;
    font-size: 120%;
    text-align: justify;
}
.card-container {
    position: relative;
    display: block;
    width: 100%;height: 100%;
    margin: 0;padding: 15px;
}
.card-container > .card-content {
    position: relative;
    display: block;
    max-width: 250px;
    margin: 0 auto;padding: 15px 25px;
}
.card-container > .card-content:hover {
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
       -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
}
.card-container > .card-content .img-place {
    margin: 0 25px;
}
.card-container > .card-content .caption {
    text-decoration: none;text-align: center;
    color: #fff;
}
@media only screen and (min-width: 768px) {
    #about .caption-content {
        padding-top: 50px;
    }
    .content {
        padding: 50px 0;
    }

}

        /*   Workshop   */
#workshop,#seminar {
    width: 100%;height: 750px;
}
#workshop .caption-content, #seminar .caption-content {
    padding: 0;
    color: #a9b5bf;
    font-size: 110%;
}
.parallax-container {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;padding: 0;
    overflow: hidden;
}
.parallax {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.parallax-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;padding: 15px;
    text-align: justify;
    background: #232732;color: #fff;
}
.parallax-caption.right {
    right: 0;
}
@media only screen and (min-width: 768px) {
    #workshop,#seminar {
        height: 550px;
    }
    .parallax-caption {
        top: 0;
        width: 50%;height: 100%;
        padding: 25px;
    }
}
@media only screen and (min-width: 1024px) {
    .parallax-caption {
        padding: 35px;
    }
}

        /*   IT Care   */
#it-care {

}
.logo-itcare {
    position: relative;
    display: block;
    max-width: 500px;
    margin: 0 auto;
}
.flat-card-container {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;padding: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 10px 3px rgba(0,0,0,0.3);
       -moz-box-shadow: 0 5px 10px 3px rgba(0,0,0,0.3);
            box-shadow: 0 5px 10px 3px rgba(0,0,0,0.3);
}
.flat-card-header {
    position: relative;
    display: block;
    width: 100%;height: 55px;
    margin: 0;padding: 5px;
    overflow: hidden;
}
.flat-card-header > .flat-menu {
    position: relative;
    display: block;float: left;
    width: 55px;height: 100%;
    margin: 0 10px;padding: 12px 15px;
    cursor: pointer;
}
.flat-card-header > .flat-menu > .bar {
    position: relative;
    display: block;float: left;
    width: 100%;height: 1px;
    margin: 3px 0;
    background: #fff;
}
.flat-card-header > .flat-search {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 550px;
    margin: 0 auto;padding: 0;
}
.flat-card-header > .flat-search input {
    width: 100%;
    background: rgba(255,255,255,0.2);color: #fff;
    padding: 12px 15px;
    border: none;outline: none;border-radius: 2px;
    text-align: center;
}
.flat-card-header > .flat-search input:focus {
    padding-left: 40px;
    text-align: left;
}
.flat-card-header > .flat-search input::-webkit-input-placeholder {
    color: #fff;
}
.flat-card-header > .flat-search input::-moz-input-placeholder {
    color: #fff;
}
.flat-card-header > .flat-search .tooltip-icon {
    position: absolute;
    top: 15px;left: 12px;
    visibility: hidden;opacity: 0;
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
            transition: all .4s ease;
}
.flat-card-header > .flat-search input:focus + .tooltip-icon {
    visibility: visible;opacity: 1;
}
.flat-card-header > .flat-viewer {
    position: relative;
    display: block;float: right;
    width: 55px;height: 100%;
    margin: 0 10px;padding: 12px 10px;
    text-align: center;
    font-size: 120%;
    cursor: pointer;
}
.flat-card-body {
    position: relative;
    display: block;
    width: 100%;min-height: 320px;
}
.flat-card-caption {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin: 0;padding: 5px;
    width: auto;
}
.flat-card-caption > .flat-card-place {
    position: relative;
    width: 120px;
    margin-right: 15px;
}
.flat-card {
    position: relative;
    display: block;
    margin: 0;padding: 0;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
       -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
            box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}
.flat-card-caption > .flat-card-place > .caption {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}
.flat-card-caption > .flat-card-place > .caption > .caption-card {
    position: relative;
    width: 140px;height: 30px;
    margin-right: 10px;padding: 0;
    text-align: center;
    line-height: 30px;
    font-size: 60%;
    cursor: pointer;
}
.flat-card-caption > .flat-card-place > .caption > .bookmark-card {
    position: relative;
    width: 30px;height: 30px;
    text-align: center;
    line-height: 30px;
    color: #555;
    border: 1px solid #878fab;
    cursor: pointer;
}
.flat-card-caption > .flat-card-place > .caption > .bookmark-card:hover {
    border: none;
}
.flat-card-caption > .flat-caption-info {
    position: relative;
    width: 800px;
    color: #878fab;
    font-size: 80%;
}
.flat-card-caption > .flat-caption-info > .rating {
    position: absolute;
    top: 0;right: 0;
    margin: 0;padding: 5px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
       -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
            box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.flat-card-caption > .flat-caption-info > .flat-title {
    font-size: 200%;
    margin-bottom: -1px;
}

    /*  Label  */
.label-container {
    position: relative;
    display: block;
    width: 100%;
}
.label-container > .label {
    position: relative;
    display: inline-block;
    margin-right: 10px;padding: 0;
    color: #555;
    font-size: 80%;
}
.label-container > .label:not(:first-child):before {
    content: '\e934';
    font-family: 'macode';
    position: absolute;
    top: 0;left: -9px;
    color: #555;
    font-size: 70%;
}
.flat-card-content {
    position: relative;
    display: block;float: left;
    width: 100%;
    margin: 0;padding: 0;
    background: #f2f2f2;
}
.flat-title-card {
    position: relative;
    display: block;
    width: 100%;
    margin: 15px 0;padding: 0;
    overflow: hidden;
}
.flat-title-card:before {
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 3px;
}
.flat-title-card span {
    position: relative;
    display: block;
    width: 120px;height: 45px;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
}
.flat-title-card span:after {
    content: '';
    position: absolute;
    top: -100%;left: 100%;
    border-width: 45px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
}
.flat-title-card#tag-new:before,.flat-title-card#tag-new span {
    background: #2196f3;color: #fff;
}
.flat-title-card#tag-new span:after {
    border-color: transparent transparent transparent #2196f3;
}
.flat-title-card#tag-top:before,.flat-title-card#tag-top span {
    background: #fa3838;color: #fff;
}
.flat-title-card#tag-top span:after {
    border-color: transparent transparent transparent #fa3838;
}
.flat-title-card#tag-recomended:before,.flat-title-card#tag-recomended span {
    background: #f55524;color: #fff;
}
.flat-title-card#tag-recomended span:after {
    border-color: transparent transparent transparent #f55524;
}
.flat-box-container {
    position: relative;
    display: block;float: left;
    width: 100%;
    margin: 0;padding: 15px;
}
.flat-box {
    position: relative;
    display: block;
    margin: 10px auto;padding: 0;
    background: #fff;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
       -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
            box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    overflow: hidden;
}

.flat-box > .img-place {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
}
.flat-box > .caption {
    position: absolute;
    bottom: 0;left: 0;
    width: 100%;
    margin: 0;padding: 10px 15px;
    background: #fff;
}
#content-games .flat-box {
    max-width: 240px;max-height: 340px;
}
#content-games .flat-box > .img-place {
    width: 100%;
    border: 5px solid #fff;
}
#content-driver > .flat-title {
    text-align: center;
    font-size: 150%;font-weight: bold;
    color: #555;
}
#content-driver .flat-box {
    max-width: 200px;max-height: 200px;
    padding: 10px 10px 25px 10px;
}
#content-driver .flat-box > .img-place {
    max-width: 180px;max-height: 180px;
}
#content-software .flat-box {
    max-width: 200px;height: 200px;
}
#content-software .flat-box > .img-place {
    width: 150px;height: 150px;
    padding: 50px;
}
#content-software .flat-box span {
    font-size: 80%;
}
.flat-box span:hover {
    cursor: pointer;
    color: #2196f3;
}
.flat-box small {
    display: block;
    font-size: 60%;font-style: italic;
    color: #a9b5bf;
}
.full-card-container {
    position: relative;
    display: block;float: left;
    margin-bottom: 25px;
    width: 100%;height: 200px;
    overflow: hidden;
}
.full-card-container > .img-place {
    width: 100%;height: 100%;
}
.btn-see-more {
    position: relative;
    display: block;float: left;
    width: 100%;
    color: #2196f3;
    margin: 0;padding: 0;
    text-align: right;
    cursor: pointer;
}
@media only screen and (min-width: 420px) {
    .flat-card-caption > .flat-card-place > .caption > .caption-card {
        font-size: 80%;
    }
    .label-container > .label:not(:first-child):before {
        top: 2px;left: -11px;
        font-size: 80%;
    }
    .flat-card-caption > .flat-caption-info > .rating {
        padding: 10px;
    }
    .flat-card-caption > .flat-caption-info > .flat-title {
        font-size: 250%;
    }
    .full-card-container {
        max-height: 400px;height: 100%;
    }
    .full-card-container > .img-place {
        width: 100%;height: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .flat-card-caption {
        margin-left: 10%;
    }
    .flat-card-caption > .flat-card-place {
        width: 200px;
    }
    .flat-card-caption > .flat-card-place > .flat-card,.flat-card-caption > .flat-card-place > .caption {
        -webkit-transform: translateY(-100px);
           -moz-transform: translateY(-100px);
                transform: translateY(-100px);
    }
    .flat-card-caption > .flat-card-place > .caption > .caption-card {
        height: 40px;
        line-height: 40px;
        font-size: 100%;
    }
    .flat-card-caption > .flat-card-place > .caption > .bookmark-card {
        width: 40px;height: 40px;
        line-height: 40px;
    }
    .flat-box-container {
        padding: 15px 25px;
    }
}

        /*   Supported   */
#support {
    position: relative;
    display: block;
    width: 100%;height: 100%;
    margin: 0;padding: 15px;
}
#support .img-place {
    width: 100%;height: 150px;
    margin: 15px auto;padding: 0;
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
            transition: all .4s;
}
#support .img-place:hover {
    -webkit-transform: translateY(-8px);
       -moz-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
       -moz-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
            box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
}
#support .img-place img {
    display: block;
    margin: 0 auto;
    width: auto;
}
@media only screen and (min-width: 768px) {
    #support {
        padding: 50px 15px;
    }
}
        /*   Contact   */
#contact {
    position: relative;
    display: block;
    margin: 0;padding: 15px 0;
    background: #232732;
    overflow-x: hidden;overflow-y: auto;
}
#contact.active {
    position: fixed;
    display: block;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;padding: 0;
    z-index: 999999;
}
.container-contact {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 200%;
    padding: 15px;
}
.container-contact.active {
    width: 100%!important;
}
.container-contact:before,.container-contact:after {
    content: '';
    display: table;
}
.container-contact:after {
    clear: both;
}
.contact-caption {
    position: relative;
    display: inline-block;float: left;
    max-width: 650px;
}
.contact-content {
    font-size: 80%;
}
.contact-content p {
    color: #a9b5bf;
}
@media only screen and (min-width: 768px) {
    .contact-caption {
        margin-left: 50px;
    }
    .contact-content {
        font-size: 100%;
    }
}
@media only screen and (min-width: 1024px) {
    .contact-caption {
        margin-left: 75px;
    }
}
.btn-container {
    position: relative;
    display: block;
    margin: 15px 0;
}
.btn-full-page {
    position: relative;
    display: inline-block;
    margin: 10px;padding: 15px;
    background: #02cc83;color: #fff!important;
    text-align: center;text-decoration: none;text-transform: uppercase;
    font-size: 100%;font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
            transition: all .4s ease;
}
.btn-full-page:hover {
    -webkit-transform: translate(0,-7px);
       -moz-transform: translate(0,-7px);
            transform: translate(0,-7px);
    -webkit-box-shadow: 0 5px 10px 3px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 5px 10px 3px rgba(0,0,0,0.5);
            box-shadow: 0 5px 10px 3px rgba(0,0,0,0.5);
}
.btn-close-modal {
    position: absolute;
    top: 20px;right: 20px;
    display: none;
    width: 45px;height: 45px;
    background: #fff;color: #555;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
            transition: all .4s ease;
}
.btn-close-modal:hover {
    color: #2196f3;
    -webkit-transform: translate(0,-3px);
       -moz-transform: translate(0,-3px);
            transform: translate(0,-3px);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
       -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.btn-close-modal.active {
    display: block;
}
.flat-browser-container {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;padding: 0;
}
.flat-browser {
    position: relative;
    display: block;
    width: 512px;
    background: #303030;
    -webkit-transition: -webkit-transform .4s ease;
       -moz-transition: -moz-transform .4s ease;
            transition: transform .4s ease;
    -webkit-box-shadow: 0 7px 10px 5px rgba(0,0,0,0.5);
       -moz-box-shadow: 0 7px 10px 5px rgba(0,0,0,0.5);
            box-shadow: 0 7px 10px 5px rgba(0,0,0,0.5);
}
.flat-browser.active {
    width: 100%;
}
.flat-browser.active:hover {
    -webkit-transform: translate(0,0);
       -moz-transform: translate(0,0);
            transform: translate(0,0);
}
.flat-browser:hover {
    -webkit-transform: translate(0,-7px);
       -moz-transform: translate(0,-7px);
            transform: translate(0,-7px);
}
.flat-header {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;height: 40px;
    margin: 0;padding: 5px;
    overflow: hidden;
}
.flat-header > .flat-menu {
    position: relative;
    margin: 0 5px;padding: 5px 0;
    width: 45px;height: 100%;
    color: #fff;
    font-size: 100%;
    text-align: center;
    cursor: pointer;
}
.flat-header > .flat-caption {
    position: relative;
    margin: 0 5px;padding: 5px 0;
    font-size: 50%;
    height: 100%;
    color: #fff;
}
.flat-header > .flat-caption > .caption {
    position: relative;
    display: block;float: left;
}
.flat-header > .flat-search {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 250px;height: 100%;
    color: #fff;
}
.flat-header > .flat-search input {
    width: 100%;
    padding: 7px 10px;
    text-align: center;
    font-size: 80%;
    border: none;outline: none;border-radius: 2px;
    background: rgba(255,255,255,0.2);color: #fff;
}
.flat-header > .flat-search input::-webkit-input-placeholder {
    color: #fff;
}
.flat-header > .flat-search input::-moz-input-placeholder {
    color: #fff;
}
.flat-header > .flat-search input:focus {
    text-align: left;
}
.flat-header > .flat-search .tooltip-icon {
    position: absolute;
    top: 10px;left: 10px;
    visibility: hidden;opacity: 0;
    font-size: 80%;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
            transition: all .3s ease;
}
.flat-header > .flat-viewer,.flat-header > .flat-alert,.flat-header > .flat-profile {
    position: relative;
    display: block;
    margin: 5px;padding: 0 5px;
    font-size: 80%;
    text-align: center;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}
.flat-header > .flat-profile {
    border-radius: 100%;
    background: rgba(255,255,255,0.3);
}
.flat-body {
    position: relative;
    display: block;
    width: 100%;height: 100%;
    background: #303030;
}
.flat-body #maps {
    width: 100%;height: 300px;
}
@media only screen and (min-width: 480px) {
    .flat-browser {
        width: 600px;
    }
    .flat-body #maps {
        height: 420px;
    }
    .flat-header > .flat-caption {
        font-size: 70%;
    }
    .flat-header > .flat-caption > .gap {
        position: relative;
        display: block;float: left;
        margin: -5px 5px 0 5px;
        width: 1px;height: 15px;
        background: #fff; 
    }
    .flat-header > .flat-search input {
        padding: 7px 15px 7px 25px;
    }
    .flat-header > .flat-search input:focus + .tooltip-icon {
        visibility: visible;
        opacity: 1;
    }
}
@media only screen and (min-width: 768px) {
    .btn-container {
        margin: 15px;
    }
    .btn-full-page {
        padding: 15px 25px;
    }
    .flat-browser-container {
        padding: 15px;
    }
    .flat-browser {
        width: 1024px;
    }
    .flat-header {
        height: 70px;
        padding: 15px;
    }
    .flat-header > .flat-menu {
        margin: 0 10px;
        padding: 8px 0;
        font-size: 120%;
    }
    .flat-header > .flat-caption {
        margin: 0 10px;padding: 7px 10px;
        font-size: 100%;
    }
    .flat-header > .flat-caption > .gap {
        margin: -5px 15px 0 15px;
        height: 35px;
    }
    .flat-header > .flat-search {
        width: 450px;
    }
    .flat-header > .flat-search input {
        padding: 10px 15px 10px 40px;
        font-size: 100%;
    }
    .flat-header > .flat-search .tooltip-icon {
        top: 12px;left: 12px;
        font-size: 100%;
    }
    .flat-header > .flat-viewer,.flat-header > .flat-alert,.flat-header > .flat-profile {
        font-size: 120%;
        margin: 0 10px;padding: 10px;
    }
    .flat-header > .flat-profile {
        width: 40px;
    }
    .flat-body #maps {
        height: 600px;
    }
}
@media only screen and (min-width: 991px) {
    .flat-header > .flat-search {
        width: 550px;
    }
}
@media only screen and (min-width: 1024px) {
    .flat-browser {
        width: 1280px;
    }
    .flat-body #maps {
        height: 720px;
    }
}

        /*   Footer   */
#footer {
    background: #eff4f5;color: #878fab;
    text-align: center;
}
#footer .img-place {
    max-width: 200px;max-height: 200px;
    margin: 0 auto;
}
.footer-caption {
    display: block;
    max-width: 500px;
    margin: 0 auto;
}
.footer-caption a {
    text-decoration: none;
}
.social-media-container {
    position: relative;
    display: block;
    margin-top: 50px;margin-bottom: 100px;padding: 15px;
    width: 100%;
}
.social-media-button {
    position: relative;
    display: block;
    margin: 50px auto;padding: 15px;
    width: 100px;height: 100px;
    border-radius: 100%;
    text-align: center;text-decoration: none;
    font-size: 30px;
    line-height: 75px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
            transition: all .4s ease;
}
.social-media-button:hover {
    -webkit-transform: translateY(-20px);
       -moz-transform: translateY(-20px);
            transform: translateY(-20px);
}
.social-media-button:before {
    content: '';
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100px;height: 20px;
    bottom: 0;left: 0;right: 0;
    background: #ccc;
    border-radius: 100%;
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
            transition: all .4s ease;
    -webkit-transform: translateY(50px);
       -moz-transform: translateY(50px);
            transform: translateY(50px);
}
.social-media-button:hover:before {
    width: 85px;height: 15px;
    -webkit-transform: translateY(70px);
       -moz-transform: translateY(70px);
            transform: translateY(70px);
}
#facebook {
    -webkit-box-shadow: 0 0 0 10px rgba(59,89,152,0.3);
       -moz-box-shadow: 0 0 0 10px rgba(59,89,152,0.3);
            box-shadow: 0 0 0 10px rgba(59,89,152,0.3);
}
#google-plus {
    -webkit-box-shadow: 0 0 0 10px rgba(250,56,56,0.3);
       -moz-box-shadow: 0 0 0 10px rgba(250,56,56,0.3);
            box-shadow: 0 0 0 10px rgba(250,56,56,0.3);
}
#twitter {
    -webkit-box-shadow: 0 0 0 10px rgba(85,172,238,0.3);
       -moz-box-shadow: 0 0 0 10px rgba(85,172,238,0.3);
            box-shadow: 0 0 0 10px rgba(85,172,238,0.3);
}
#instagram {
    -webkit-box-shadow: 0 0 0 10px rgba(142,37,37,0.3);
       -moz-box-shadow: 0 0 0 10px rgba(142,37,37,0.3);
            box-shadow: 0 0 0 10px rgba(142,37,37,0.3);
}
@media only screen and (min-width: 768px) {
    #footer {
        padding-top: 100px;padding-bottom: 15px;
    }
    .footer-caption p {
        font-size: 130%;
    }
}
        /*  Card-Dialog  */
.modal-dialog.half {
    display: block;
    visibility: hidden;
    background: rgba(0,0,0,0.7);
}
.modal-dialog.half.show {
    visibility: visible;
}
.modal-dialog.half .icon-form {
    width: 200px;height: 200px;
}
.modal-dialog.half .icon-form img {
    max-width: 200px;max-height: 200px;
}
.modal-overlay {
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    cursor: pointer;
    z-index: -9;
}
.modal-content {
    position: relative;
    margin: 10px auto;padding: 15px;
    max-width: 380px;height: 600px;
    background: #232732;color: #fff;
    z-index: 100;
}
.modal-content > .form-card {
    background: transparent;
    max-width: 100%;height: 100%;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}
.modal-content .form-place {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;padding: 0 25px;
}
.form-place .form-content {
    width: 100%;
}

        /*   Form Login/Register   */
.form-card {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
    max-width: 350px;height: 500px;
    background: #384962;color: #fff;
    overflow: hidden;
}
.btn-back {
    position: absolute;
    top: 20px;left: 15px;
    width: 40px;
    padding: 10px;
    font-size: 100%;
    background-color: transparent;color: #fff;
    cursor: pointer;
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
            transition: all .4s;
    z-index: 99;
}
.btn-back:hover {
    left: 10px;
}
.title-form {
    position: relative;
    display: block;
    width: 100%;height: 35px;
    text-align: right;
    margin-top: 20px;padding: 7px 20px;
    font-size: 100%;font-weight: bold;
    background-color: transparent;color: #fff;
    cursor: pointer;
}
.title-form:after {
    content: '';
    position: absolute;
    top: 0;right: 0;
    width: 5px;height: 35px;
    background-color: #fff;
    border-radius: 4px 0 0 4px;
}
.form-input {
    position: relative;
    display: none;
    width: 100%;
    margin: 0;padding: 15px;
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
            transition: all .4s;
}
.form-input.show {
    display: block;
    -webkit-animation: scaleIn .6s ease;
       -moz-animation: scaleIn .6s ease;
            animation: scaleIn .6s ease;
}
.icon-form {
    position: relative;
    display: block;
    margin: 15px auto;padding: 0;
    width: 130px;height: 120px;
    overflow: hidden;
}
.icon-form img {
    max-width: 120px;max-height: 120px;
}
.input-icon {
    position: absolute;
    width: 40px;height: 40px;
    color: #eee;line-height: 38px;
    text-align: center;
    font-size: 20px;
    -webkit-transform: translateY(-55px);
       -moz-transform: translateY(-55px);
            transform: translateY(-55px);
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
            transition: all .4s;
    z-index: 10;
}
.ma-input {
    position: relative;display: block;
    margin: 15px auto;padding: 10px 40px;
    width: 100%;
    border: none;outline: none;border-bottom: 1px solid #5e6d87;
    background-color: transparent;color: #ccc;
    font-size: 100%;font-family: 'Montserrat';
    -webkit-transition: all .4s;
       -moz-transition: all .4s;
            transition: all .4s;
    overflow: hidden;
}
.ma-input:focus {
    padding: 10px 10px;
}
.ma-input:focus + .input-icon {
    opacity: 0;
}
.ma-input::-webkit-placeholder {
    font-family: 'Montserrat';
}
.ma-input::-moz-placeholder {
    font-family: 'Montserrat';
}
.ma-input:valid + .input-icon {
    font-weight: bold;
    color: #2196f3;
}
#show-password:checked ~ .checkbox {
    border-color: #222;
    background-color: #222;
}
#show-password:checked ~ .checkbox:before {
    opacity: 1;
}
.forgot {
    position: relative;
    display: block;
    text-align: center;text-decoration: none;
    font-size: 15px;
    color: #ccc!important;
}
.btn-submit {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;padding: 12px;
    font-family: "Monserrat", sans-serif;
    background: -webkit-linear-gradient(135deg, #21f4df, #21a1f7);
    background: -moz-linear-gradient(135deg, #21f4df, #21a1f7);
    background: -o-linear-gradient(135deg, #21f4df, #21a1f7);
    background: linear-gradient(135deg, #21f4df, #21a1f7);
    color: #fff;
    text-align: center;text-transform: uppercase;
    border: none;outline: none;border-radius: 4px;
}
@media only screen and (min-width: 768px) {
    .form-input {
        padding: 15px 30px;
    }
}
.tabs-container {
    position: relative;
    display: block;float: left;
    width: 100%;
    margin: 0;padding: 15px;
}
.btn-tabs {
    position: relative;
    display: inline-block;
    min-width: 150px;height: 45px;
    margin: 5px 0;padding-left: 25px;
    line-height: 12px;
    font-size: 16px;
    text-align: center;text-decoration: none;
    background: rgba(255,255,255,0.3);color: #fff;
    cursor: pointer;
}
.btn-tabs.active {
    background: #84c91d!important;
}
.btn-tabs:before,.btn-tabs:after {
    content: '';
    position: absolute;
    border-width: 22px;
    border-style: solid;
}
.btn-tabs:before {
    left: 0;
    border-color: transparent transparent transparent #232732;
}
.btn-tabs:after{
    top: 0;
    left: 100%;
    border-color: transparent transparent transparent rgba(255,255,255,0.3);
    z-index: 999;
}
.btn-tabs:hover:after,.btn-tabs.active:after {
    border-color: transparent transparent transparent #84c91d;
}
.tabs-content {
    position: relative;
    display: block;
    width: 100%;
    margin: 25px 0;padding: 15px;
}
.tabs {
    position: relative;
    display: none;
    width: 100%;
}
.tabs.active {
    display: block;
}
.tabs .img-place {
    max-width: 350px;max-height: 350px;
    margin: 0;padding: 15px;
}
.tabs-caption {
    position: relative;
    display: block;float: left;
    width: 100%;
    text-align: justify;
    color: #fff;
}
.tabs-caption > p {
    color: #a9b5bf;
}
.tabs-title > hr {
    max-width: 350px;
    margin: -10px 0 0 0;
}
.btn-guide {
    position: absolute;
    bottom: -150px;right: 50px;
    display: block;
    width: 120px;height: 120px;
    border-radius: 100%;outline: none;
    background: #ed2552;color: #fff;
    text-align: center;text-decoration: none;
    line-height: 120px;
    font-size: 150%;
    -webkit-box-shadow: 0 0 0 13px rgba(237, 37, 82,0.3);
       -moz-box-shadow: 0 0 0 13px rgba(237, 37, 82,0.3);
            box-shadow: 0 0 0 13px rgba(237, 37, 82,0.3);
    z-index: 5;
}
.btn-guide:before {
    content: '';
    position: absolute;
    top: -25px;left: -25px;
    width: 170px;height: 170px;
    border-radius: 100%;
    background: rgba(237, 37, 82,0.2);
    -webkit-animation: circleRipple 1s linear infinite;
       -moz-animation: circleRipple 1s linear infinite;
            animation: circleRipple 1s linear infinite;
    z-index: -5;
}
.btn-guide:after {
    content: '';
    position: absolute;
    top: -35px;left: -35px;
    width: 190px;height: 190px;
    border-radius: 100%;
    background: rgba(237, 37, 82,0.1);
    -webkit-animation: circleRipple 1.5s linear infinite;
       -moz-animation: circleRipple 1.5s linear infinite;
            animation: circleRipple 1.5s linear infinite;
    z-index: -4;
}
@-webkit-keyframes circleRipple {
    0% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.1);
        opacity: 0;
    }
}
@-moz-keyframes circleRipple {
    0% {
        -moz-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1.1);
        opacity: 0;
    }
}
@keyframes circleRipple {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}
.form-container {
    position: relative;
    display: block;float: left;
    width: 100%;
    margin: 25px 0;padding: 20px;
}
.form-content {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;padding: 0;
}
.form-title {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
}
.border-input {
    width: 100%;
    margin: 5px 0;padding: 12px 0;
    background: transparent;color: #a9b5bf;
    border: none;border-bottom: 2px solid #a9b5bf;outline: none;
}
.label-border {
    position: absolute;
    display: block;
    width: 100%;height: 2px;
    margin: 0 auto;
    background: transparent;
    -webkit-transform: translateY(-7px);
       -moz-transform: translateY(-7px);
            transform: translateY(-7px);
}
.label-border:before,.label-border:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;height: 2px;
    background: #ed2552;
    -webkit-transition: all .4s ease .1s;
       -moz-transition: all .4s ease .1s;
            transition: all .4s ease .1s;
}
.label-border:before {
    left: 50%;
}
.label-border:after {
    right: 50%;
}
.border-input:focus,.border-input:valid {
    color: #fff;
}
.border-input:focus + .label-border:before,.border-input:focus + .label-border:after,
.border-input:valid + .label-border:before,.border-input:valid + .label-border:after {
    width: 50%;
}
.btn-register {
    position: relative;
    display: block;
    width: 150px;
    margin: 15px auto;padding: 12px 0;
    border: 2px solid #ed2552;outline: none;
    background: transparent;color: #fff;
    font-family: "Monserrat", sans-serif;
}
.btn-register:hover {
    background: #ed2552;
}
.btn-register:focus {
    border: 2px solid #ed2552;
    outline: none;
}
@media only screen and (min-width: 768px) {
    .form-content {
        width: 650px;
    }
}
#m-competition,#m-workshop,#m-seminar {
    background: #232732;
}
#m-competition > .btn-close-modal,#m-workshop > .btn-close-modal,#m-seminar > .btn-close-modal {
    background: #fff;color: #555;
}
.box {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 100px;
    color: #fff;
}
.box > p {
    color: #a9b5bf;
}
.box-content {
    margin: 25px 0;
}
.box .img-place {
    position: relative;
    display: block;
    width: 130px;height: 130px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
}
.box .caption {
    text-align: center;
}
.box .caption p {
    font-size: 120%;
}
.box .caption span {
    color: #a9b5bf;
}