<!-- Animate.css -->
<link rel="stylesheet" href="custom/alur/css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="custom/alur/css/icomoon.css">
<!-- Bootstrap  
<link rel="stylesheet" href="custom/alur/css/bootstrap.css"> -->
<!-- Flexslider  -->
<link rel="stylesheet" href="custom/alur/css/flexslider.css">
<!-- Owl Carousel -->
<link rel="stylesheet" href="custom/alur/css/owl.carousel.min.css">
<link rel="stylesheet" href="custom/alur/css/owl.theme.default.min.css">
<!-- Theme style 
<link rel="stylesheet" href="custom/alur/css/style.css"> -->

<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->

<style>
.colorlib-experience,
.colorlib-skills,
.colorlib-education,
.colorlib-blog,
.colorlib-work,
.colorlib-about,
.colorlib-services,
.colorlib-contact {
  padding-top: 4em;
  padding-bottom: 9em;
  clear: both;
  width: 100%;
  display: block; }
  @media screen and (max-width: 768px) {
    .colorlib-experience,
    .colorlib-skills,
    .colorlib-education,
    .colorlib-blog,
    .colorlib-work,
    .colorlib-about,
    .colorlib-services,
    .colorlib-contact {
      padding-top: 5em;
      padding-bottom: 8em; } }

.author-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.colorlib-heading {
    font-size: 18px;
    margin-bottom: 4em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
    color: silver;
}
  .colorlib-heading span {
    display: block; }
  @media screen and (max-width: 768px) {
    .colorlib-heading {
      margin-bottom: 3em; } }

 .heading-meta {
    margin-bottom: 15px;
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 5px;
}

.about-img {
  width: 100%;
  height: 600px;
  margin-bottom: 30px; }

.about-desc h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500; }

.hire {
  padding: 2em;
  background: #f9bf3f; }
  .hire h2 {
    line-height: 1.5; }
  .hire .btn-hire {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    bordeR: 1px solid #000;
    padding: 2px 10px; }

.fancy-collapse-panel .panel-default > .panel-heading {
  padding: 0; }

.panel-heading a {
  padding: 20px 25px;
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Quicksand", Arial, sans-serif;
  background-color: #2c98f0;
  color: #fff;
  position: relative;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

.panel {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  border: none; }

.panel-heading a:after {
  font-family: "icomoon";
  content: "\e115";
  position: absolute;
  right: 20px;
  font-size: 14px;
  font-weight: 400;
  top: 50%;
  line-height: 1;
  margin-top: -7px; }

.panel-heading a.collapsed:after {
  content: "\e114"; }

.panel-heading a.collapsed {
  background: #f2f3f7;
  border: 1px solid #e6e6e6 !important;
  color: #333333; }

.panel-body {
  padding: 1.5em;
  margin-top: 5px;
  border: 1px solid #e6e6e6 !important; }

.timeline-centered {
  position: relative;
  margin-bottom: 30px; }

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table; }

.timeline-centered:after {
  clear: both; }

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table; }

.timeline-centered:after {
  clear: both; }

.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #f2f3f7;
  top: 20px;
  bottom: 20px;
  margin-left: 29px; }

.timeline-centered .timeline-entry {
  position: relative;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  clear: both; }

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -20px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #2c98f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f2f3f7;
  -webkit-box-shadow: 0 0 0 5px #f2f3f7;
  box-shadow: 0 0 0 5px #f2f3f7;
  line-height: 40px;
  float: left; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
    color: #fff; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
    background: #ec5453; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
    background: #f9bf3f; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
    background: #a84cb8; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
    background: #2fa499; }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
    background: #fff;
    width: 20px;
    height: 20px;
    margin-left: 10px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #f2f3f7;
  padding: 1.5em;
  margin-left: 60px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #f2f3f7 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 20px;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 500; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #000; }

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  -ms-filter: alpha(opacity=40);
  filter: alpha(opacity=40);
  font-size: 16px; }

.services {
  margin-bottom: 30px;
  padding: 1.5em;
  -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #2c98f0; }
  .services .icon2 {
    display: block;
    margin-bottom: 20px; }
    .services .icon2 i {
      font-size: 30px;
      color: #2c98f0; }
  .services h3 {
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500; }
  .services.color-2 {
    border-bottom: 2px solid #ec5453; }
    .services.color-2 .icon2 i {
      color: #ec5453; }
  .services.color-3 {
    border-bottom: 2px solid #f9bf3f; }
    .services.color-3 .icon2 i {
      color: #f9bf3f; }
  .services.color-4 {
    border-bottom: 2px solid #a84cb8; }
    .services.color-4 .icon2 i {
      color: #a84cb8; }
  .services.color-5 {
    border-bottom: 2px solid #2fa499; }
  .services.color-6 {
    border-bottom: 2px solid #4054b2; }

.services {
  margin-bottom: 80px;
  position: relative;
  z-index: 0; }
  @media screen and (max-width: 768px) {
    .services {
      margin-bottom: 4em; } }
  .services .icon {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 100px;
    height: 50px;
    display: table;
    margin: 0 auto;
    background: #2c98f0; }
    .services .icon:before, .services .icon:after {
      position: absolute;
      left: 0;
      right: 0;
      content: ''; }
    .services .icon:before {
      top: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 50px 30px 50px;
      border-color: transparent transparent #2c98f0 transparent; }
    .services .icon:after {
      bottom: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 50px 0 50px;
      border-color: #2c98f0 transparent transparent transparent; }
    .services .icon i {
      font-size: 30px;
      color: #fff;
      z-index: 1;
      display: table-cell;
      vertical-align: middle; }
  .services .desc {
    margin-top: 60px; }
    .services .desc h3 {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
  .services.color-2 .icon {
    background: #ec5453; }
    .services.color-2 .icon:before {
      border-color: transparent transparent #ec5453 transparent; }
    .services.color-2 .icon:after {
      border-color: #ec5453 transparent transparent transparent; }
  .services.color-3 .icon {
    background: #f9bf3f; }
    .services.color-3 .icon:before {
      border-color: transparent transparent #f9bf3f transparent; }
    .services.color-3 .icon:after {
      border-color: #f9bf3f transparent transparent transparent; }
  .services.color-4 .icon {
    background: #a84cb8; }
    .services.color-4 .icon:before {
      border-color: transparent transparent #a84cb8 transparent; }
    .services.color-4 .icon:after {
      border-color: #a84cb8 transparent transparent transparent; }
  .services.color-5 .icon {
    background: #2fa499; }
    .services.color-5 .icon:before {
      border-color: transparent transparent #2fa499 transparent; }
    .services.color-5 .icon:after {
      border-color: #2fa499 transparent transparent transparent; }
  .services.color-6 .icon {
    background: #4054b2; }
    .services.color-6 .icon:before {
      border-color: transparent transparent #4054b2 transparent; }
    .services.color-6 .icon:after {
      border-color: #4054b2 transparent transparent transparent; }

.progress-wrap h3 {
  font-size: 16px;
  font-family: "Quicksand", Arial, sans-serif;
  margin-bottom: 10px; }

.progress {
  height: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f2f3f7;
  overflow: visible; }

.progress-bar {
  background: #2c98f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-align: right;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  .progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: '';
    background: #2c98f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .progress-bar span {
    position: absolute;
    top: -22px;
    right: 0; }
  .progress-bar.color-1 {
    background: #2c98f0; }
    .progress-bar.color-1:after {
      background: #2c98f0; }
    .progress-bar.color-1 span {
      color: #2c98f0; }
  .progress-bar.color-2 {
    background: #ec5453; }
    .progress-bar.color-2:after {
      background: #ec5453; }
    .progress-bar.color-2 span {
      color: #ec5453; }
  .progress-bar.color-3 {
    background: #f9bf3f; }
    .progress-bar.color-3:after {
      background: #f9bf3f; }
    .progress-bar.color-3 span {
      color: #f9bf3f; }
  .progress-bar.color-4 {
    background: #a84cb8; }
    .progress-bar.color-4:after {
      background: #a84cb8; }
    .progress-bar.color-4 span {
      color: #a84cb8; }
  .progress-bar.color-5 {
    background: #2fa499; }
    .progress-bar.color-5:after {
      background: #2fa499; }
    .progress-bar.color-5 span {
      color: #2fa499; }
  .progress-bar.color-6 {
    background: #4054b2; }
    .progress-bar.color-6:after {
      background: #4054b2; }
    .progress-bar.color-6 span {
      color: #4054b2; }

.row.alur {
    margin: auto;
    text-align: right;
}
section.colorlib-experience {
    /** background-image: url(assets/images/BG_AI.png); */
    background-attachment: fixed;
    background-size: 100%;
    background-position: bottom;
    margin-bottom: 25px;
    margin-top: -25px;
    background-repeat: no-repeat;
    background: #000;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #ffffffad;
    padding: 1.5em;
    color: #000;
    margin-left: 60px;
    background-clip: padding-box;
    width: 100%;
    max-width: 485px;
}
.timeline-centered .timeline-entry {
    position: relative;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
    display: flex;
}
.colorlib-narrow-content {
    max-width: 100%;
    margin: auto;
    background: #000000b5;
    padding: 65px 10%;
    margin-top: -60px;
    margin-bottom: -135px;
}
.timeline-centered {
    margin-top: -165px;
} 
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #ffffffad;
    padding: 3px 1.5em;
    color: #000;
    margin-left: 60px;
    background-clip: padding-box;
    width: 100%;
    max-width: 485px;
}

@media only screen and (max-width: 767px) {
    section.colorlib-experience {
        zoom: 85%;
        margin-left: -35px;
        margin-top: -165px;
        overflow: hidden;
        font-size: x-large;
        line-height: 0;
        padding-top: 190px;
        padding-bottom: 125px;
        background: #0000;
    }
    section.colorlib-experience {
        zoom: 85%;
        margin-left: -35px;
        margin-top: -165px;
        overflow: hidden;
        font-size: x-large;
        line-height: 0;
        padding-top: 190px;
        padding-bottom: 125px;
    }
    .timeline-centered .timeline-entry {
        display: block;
    }
    .timeline-centered .timeline-entry {
        position: relative;
        margin-top: 35px;
        margin-left: 30px;
        clear: both;
        display: flex;
    }
    .timeline-centered {
        margin-top: -50px;
    }
    .timeline-icon {
        font-size: 17px;
    }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
        position: relative;
        background: #ffffffad;
        color: #000;
        margin-left: 60px;
        background-clip: padding-box;
        width: 100%;
        max-width: 485px;
        padding: 5px 25px;
    }
    h2.activity {
        line-height: 30px;
    }

}
</style>
